---
layout: default
---

<div class="content col-sm-10">
  <div class="tab-content" id="myTabContent">
    <!--utilities-->
    {% include content/utilities/typography.html %}
    {% include content/utilities/grids.html %}
    {% include content/utilities/colors.html %}
    {% include content/utilities/layouts.html %}
    {% include content/utilities/icons.html %}
    {% include content/utilities/spacings.html %}
    <!--components-->
    {% include content/components/header.html %}
    {% include content/components/navbar.html %}
    {% include content/components/titles.html %}
    {% include content/components/popups.html %}
    {% include content/components/buttons.html %}
    {% include content/components/states.html %}
    {% include content/components/checklists.html %}
    {% include content/components/inputs.html %}
    {% include content/components/collapse.html %}
    {% include content/components/modals.html %}
    {% include content/components/forms.html %}
  </div>
</div>