<aside class="an-aside-nav col-sm-2">
  <div class="an-header">
    <img class="an-logo" src="/assets/img/logo_skippair.png" alt="logo">
  </div>
  <div id="exampleAccordion" data-children=".item">
    <div class="item">
      <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
        Utilities
      </a>
      <div id="exampleAccordion1" class="collapse show" role="tabpanel">
        <ul>
          <li><a href="">Typography</a></li>
          <li><a href="">Typography</a></li>
          <li><a href="">Typography</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>