<aside class="an-aside-nav col-sm-2">
  <div class="an-header">
    <img class="an-logo" src="/assets/img/logo_skippair.png" alt="logo">
  </div>
  <div id="an-nodes-container" class="an-nodes-container" data-children=".item">
    <div class="item an-item">
      <a class="an-node-btn-collapse" data-toggle="collapse" data-parent=".an-nodes-container"
         href="#an-node-started-list" aria-expanded="true" aria-controls="an-node-started-list" onclick="itemActivator()">
        Getting Started
      </a>
    </div>
    <div class="item an-item">
      <a class="an-node-btn-collapse" data-toggle="collapse" data-parent=".an-nodes-container"
         href="#an-node-guidelines-list" aria-expanded="true" aria-controls="an-node-guidelines-list" onclick="itemActivator()">
        Guidelines
      </a>
    </div>
    <div class="item an-item">
      <a class="an-node-btn-collapse" data-toggle="collapse" data-parent=".an-nodes-container"
         href="#an-node-utilities-list" aria-expanded="true" aria-controls="an-node-utilities-list" onclick="itemActivator()">
        Utilities
      </a>
      <div id="an-node-utilities-list" class="an-node-list-container collapse" role="tabpanel">
        <ul class="nav nav-tabs an-node-list" id="utilities-tab" role="tablist">
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="typography-tab" data-toggle="tab" href="#typography" role="tab"
               aria-controls="typography" aria-selected="true">Typography</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="grids-tab" data-toggle="tab" href="#grids" role="tab"
               aria-controls="grids" aria-selected="false">Grids</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="colors-tab" data-toggle="tab" href="#colors" role="tab"
               aria-controls="colors" aria-selected="false">Colors</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="icons-tab" data-toggle="tab" href="#icons" role="tab"
               aria-controls="icons" aria-selected="false">Icons</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="layouts-tab" data-toggle="tab" href="#layouts" role="tab"
               aria-controls="layouts" aria-selected="false">Layouts</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="spacings-tab" data-toggle="tab" href="#spacings" role="tab"
               aria-controls="spacings" aria-selected="false">Spacings</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="item an-item">
      <a class="an-node-btn-collapse" data-toggle="collapse" data-parent=".an-nodes-container"
         href="#an-node-components-list" aria-expanded="false" aria-controls="an-node-components-list" onclick="itemActivator()">
        Components
      </a>
      <div id="an-node-components-list" class="an-node-list-container collapse" role="tabpanel">
        <ul class="nav nav-tabs an-node-list" id="components-tab" role="tablist">
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="header-tab" data-toggle="tab" href="#header" role="tab"
               aria-controls="header" aria-selected="true">Header</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="navbar-tab" data-toggle="tab" href="#navbar" role="tab" aria-controls="navbar"
               aria-selected="false">Navbar</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="titles-tab" data-toggle="tab" href="#titles" role="tab" aria-controls="titles"
               aria-selected="false">Titles</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="popups-tab" data-toggle="tab" href="#popups" role="tab"
               aria-controls="popups" aria-selected="false">Popups</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="buttons-tab" data-toggle="tab" href="#buttons" role="tab"
               aria-controls="buttons" aria-selected="false">Buttons</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="states-tab" data-toggle="tab" href="#states" role="tab"
               aria-controls="states" aria-selected="false">States</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="checklists-tab" data-toggle="tab" href="#checklists" role="tab"
               aria-controls="checklists" aria-selected="false">Checklists</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="inputs-tab" data-toggle="tab" href="#inputs" role="tab"
               aria-controls="inputs" aria-selected="false">Inputs</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="collapse-tab" data-toggle="tab" href="#collapse" role="tab"
               aria-controls="collapse" aria-selected="false">Collapse</a>
          </li>
          <li class="nav-item an-node-link-container">
            <a class="nav-link an-node-link" id="modals-tab" data-toggle="tab" href="#modals" role="tab"
               aria-controls="modals" aria-selected="false">Modals</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="item an-item">
      <a class="an-node-btn-collapse" data-toggle="collapse" data-parent=".an-nodes-container"
         href="#an-node-started-list" aria-expanded="true" aria-controls="an-node-started-list" onclick="itemActivator()">
        Templates
      </a>
    </div>
  </div>
</aside>