<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{page.title | escape }}{% else %}{{ site.tile | escape}}{% endif %}</title>
  <meta name="description" content="{{page.excerpt | default:site.description |strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="assets/css/styleguide.min.css">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a0b093b8e2.js"></script>
</head>
