.an-aside-nav {
  border-right: 1px solid #ccd8e4;
  min-height: 96vh!important;
  .an-header {
    padding-bottom: 20px;
    .an-logo {
      width: 200px;
      height: 50px;
    }
  }
  .an-nodes-container {
    margin-top: 50px;
    .item {
      font-weight: bold;
      margin-bottom: 20px;
      a.an-node-btn-collapse {
        text-transform: uppercase;
      }
      a {
        color: black;
      }
      .an-node-list-container{
        .an-node-list {
          background-color: $background-color-generic;
          border: none;
          display: block;
          .an-node-link-container {
            .an-node-link {
              font-weight: normal;
              border: none;
            }
            .active {
              color: #00cccc;
              background-color: $background-color-generic;
              font-weight: bold;
              border-left:3px solid;
              font-weight: bold;
            }
          }
        }
      }
    }
    :hover {
      font-weight: bold;
      color: $corporate-primary!important;
      text-decoration: none;
    }
  }
}