.color-container {
  .color-panel {
    margin-top: 20px;
    width: 75px;
    height: 75px;
    span {
      font-size: 14px;
    }
  }
}
.text-color-bckg {
  background-color: $text;
}
.sub-title-color-bckg {
  background-color: $sub-title;
}