//backgrounds colors
$background-color-generic: #ecf3f5;

.main {
  padding: 15px;
}
.content {
  min-height: 100%;
  padding-right: 0;
  padding-left: 0;
}
.markdown-container {
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: $lg) {
  .main-navbar {
    .navbar-collapse {
      ul {
        li.navbar-link-account {
          .dropdown-account {
            left: -50px;
          }
        }
      }
    }
  }
}