.icons-container {
  table {
    background-color: $background-color-generic ;
    tr {
      border-bottom: 1px solid black;
      th {
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px;
      }
      td {
        padding: 15px;
        width: 200px;
      }
    }
    i {
      font-size: 26px;
    }
  }
}