.s-container {
  height: 50px;
  margin-top: 60px;
}
.mobile-device-fake {
  height: 200px;
  width: 320px;
  background-color: $background-color-generic;
  padding-top: 20px;
  padding-bottom: 20px;
}
.desktop-device-fake {
  height: 200px;
  width: 100%;
  background-color: $background-color-generic;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  border: solid 1px $color-grey1;
  margin-bottom: 16px;
}

.main-page {
  margin-top: 80px;
}

.main-page-double-nav {
  margin-top: 130px;
}