.avatar-profil-rounded {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $color-grey1;
    margin-bottom: 16px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    .avatar-modify {
        position: relative;
        top: 125px;
        height: 55px;
        width: 180px;
        background-color: $color-white1;
        opacity: 0.74;
        text-align: center;
        border-radius: 50% 50%;
        overflow: hidden;
        label {
            padding-top: 12px;
            cursor: pointer;
            width: 100%;
            height: 100%;
            color: $corporate-primary;
        }
        input {
            display: none;
        }
    }
}
.avatar-chips-rounded {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60px;
    width: 60px;
    background-color: $color-white1;
    margin-bottom: 16px;
    border-radius: 50%;
    border: solid 2px $color-white1;
    box-shadow: 0px 2px 3.9px 0.1px rgba(2, 3, 2, 0.6);
    &.big {
      height: 140px;
      width: 140px;
      border-width: 3px;
    }
    .chips-work {
        position: absolute;
        background-color: $color-white1;
        top: 0;
        left: -7px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(2, 3, 2, 0.6);
        //background-color: $color-white1;
        i {
            font-size: 10px;
            position: absolute;
            top: 4px;
            left: 6px;
        }
    }
}
.avatars-description {
    position: relative;
    .description {
        position: absolute;
        top: 0;
        left: 70px;
        p {
            margin-bottom: 1px;
            .name {
                font-weight: 900;
            }
        }
    }
}
