a.btn:hover {
    color: white;
}

.btn {
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
    padding: 6px 16px;
    box-shadow: initial !important;
    border: 1px solid black inside;

}

.btn-simple{
    // Color gestion
    background-color: white;
    border-color: white;
    color: $color-grey2;

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $color-grey1;
            border-color: $color-grey1;
        }
        
    }  
}

.btn-outline {
    background-color: initial !important;
    border-color: $color-grey2;
    &.corporate-primary {
      color: $corporate-primary;
      border-color: $corporate-primary;
    }
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            border-color: $sub-title;
            color: $sub-title;
        }
        &.corporate-primary:hover,
        &.corporate-primary:active {
            color: $corporate-secondary;
            border-color: $corporate-secondary;
        }
    }

}

.btn-group {
    padding: 0px;
    border: none;
    overflow: hidden;
    .text {
        padding: 7px 13px;
        margin-right: 38px;
    }
    .icon {
        height: 100%;
        position: absolute;
        right: 0px;
        width: 38px;
        padding-top: 5px;
    }
    &.btn-block .text {
        text-align: center;
        width: 100%;
    }
}

.btn-light {
    text-transform: initial;
    background-color: initial !important;
    font-weight: initial;
    border: none;
    color: $color-grey2;
    padding: 0px;

    +.btn-light {
        margin-left: 12px;
    }
}

// Size
.btn.small {
    font-size: 14px;
}
.btn.large {
    font-size: 18px;
}


// Color
.btn-primary {
    background-color: $corporate-primary;
    border-color: $corporate-primary;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $corporate-secondary;
            border-color: $corporate-secondary;
        }
    }
    &:disabled {
        background-color: $corporate-primary;
        border-color: $corporate-primary;
        opacity: 0.35;
    }
    &.btn-outline, &.btn-light {
        color: $corporate-primary;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $corporate-secondary;
            }
        }
    }
    .icon {
        background-color: $corporate-secondary;
    }
}

.btn-dream {
    background-color: $color-yellow1;
    border-color: $color-yellow1;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $color-yellow2;
            border-color: $color-yellow2;
        }
    }
    &.btn-outline, &.btn-light {
        color: $color-yellow1;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $color-yellow2;
            }
        }
    }
    .icon {
        background-color: $color-yellow2;
    }
}

.btn-pro {
    background-color: $pro-primary;
    border-color: $pro-primary;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $pro-secondary;
            border-color: $pro-secondary;
        }
    }
    &:disabled {
        background-color: $pro-primary;
        border-color: $pro-primary;
        opacity: 0.35;
    }
    &.btn-outline, &.btn-light {
        color: $pro-primary;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $pro-secondary;
            }
        }
    }
    .icon {
        background-color: $pro-secondary;
    }
}

.btn-pro-lighter {
    background-color: $pro-lighter;
    border-color: $pro-lighter;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $pro-med-lighter;
            border-color: $pro-med-lighter;
        }
    }
    &.btn-outline, &.btn-light {
        color: $pro-lighter;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $pro-med-lighter;
            }
        }
    }
    .icon {
        background-color: $pro-med-lighter;
    }
}

.btn-gift {
    background-color: $gift-primary;
    border-color: $gift-primary;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $gift-secondary;
            border-color: $gift-secondary;
        }
    }
    &.btn-outline, &.btn-light {
        color: $gift-primary;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $gift-secondary;
            }
        }
    }
    .icon {
        background-color: $gift-secondary;
    }
}

.btn-facebook {
    background-color: $facebook-primary;
    border-color: $facebook-primary;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $facebook-secondary;
            border-color: $facebook-secondary;
        }
    }
    &.btn-outline, &.btn-light {
        color: $facebook-primary;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $facebook-secondary;
            }
        }
    }
    .icon {
        background-color: $facebook-secondary;
    }
}

.btn-warning {
    background-color: $warning-color;
    border-color: $warning-color;
    color: white;
    &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
            background-color: $warning-color-hover;
            border-color: $warning-color-hover;
        }
    }
    &.btn-outline, &.btn-light {
        color: $warning-color;
        &:not(:disabled):not(.disabled) {
            &:hover,
            &:active {
                color: $warning-color-hover;
            }
        }
    }
    .icon {
        background-color: $warning-color-hover;
    }
}