.s-btn {
  min-width: 280px;
}
.btn-big {
  font-weight: 900;
  border-radius: 4px;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
button:focus {
  outline: 0;
}
.btn-validate {
  transition: $transition-time;
  color: $color-white1;
  background-color: $corporate-primary;
}
.btn-validate:hover {
  transition: $transition-time;
  background-color: $corporate-secondary;
}
.btn-validate-disabled {
  cursor: default;
  color: $text;
  border: solid 2px $color-grey1;
  background-color: $color-white1;
}
.btn-group {
  .btn-action {
    width:100%;
    transition: $transition-time;
    border-radius: 4px 0px 0px 4px;
    color: $color-white1;
  }
  i {
    color: $color-white1;
    padding: 12px 12px;
    border-radius: 0px 4px 4px 0px;
  }
  .btn-action:hover {
    transition: 0.7s;
  }
  .sign {
    background-color: $corporate-primary;
  }
  .sign ~ i {
    background-color: $corporate-secondary;
  }
  .sign:hover {
    background-color: $corporate-secondary;
  }
  .facebook {
    background-color: $facebook-primary;
  }
  .facebook ~ i {
    background-color: $facebook-secondary;
  }
  .facebook:hover {
    background-color: $facebook-secondary;
  }
}
.btn-group.disabled {
  .btn-action {
    cursor: default;
    border-top: solid 2px $color-grey1;
    border-bottom: solid 2px $color-grey1;
    border-left: solid 2px $color-grey1;
    border-radius: 4px 0px 0px 4px;
    color: $text;
    background-color: $color-white1;
  }
  i {
    color: $color-white1;
    background-color: $color-grey2;
    padding: 12px 12px;
    border-radius: 0px 4px 4px 0px;
  }
}
.btn-return {
  margin-bottom: 18px;
  transition: $transition-time;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $text;
}
.btn-return:hover {
  transition: $transition-time;
  color: $text-hover;
}