.contact-card {
    margin-bottom: $p;
    width: 250px;
    border: solid 1px $color-grey4;
    padding: 15px 20px 15px 20px;
    .infos {
        i {
            font-size: 16px;
            margin-right: 5px;
        }
        p {
            font-size: 14px;
            margin-bottom: 0.75rem;
        }
        p.link {
            text-align: center;
        }
    }
}

/*
 * #Cards Order Client Interface
 */

.order-card {
    margin-bottom: $p;
    border-radius: 2px;
    box-shadow: 0px 4px 7.4px 0.6px rgba(2, 3, 2, 0.16);
    .card-image {
        position: relative;
        min-height: 170px;
        background-position: center;
        background-repeat: no-repeat;
        .avatars-description {
            position: absolute;
            bottom: 0px;
            left: 16px;
            .description {
                p { width: 200px; }
            }
        }
    }
    .card-description {
        padding-bottom: 10px;
        .order-date {
            .icon {
                margin-top: 15px;
                color: $color-grey2;
            }
            .date {
                span { font-size: 12px; }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .order-card .card-description .order-cta {
        .btn {
            width: auto;
            &:not(.btn-group) {
                display: inline-block;
            }
        }
    }
}



/*
 * # Card Staff For Product Page & Home page
 */
.card-staff {
    background: #fff;
    border-radius: 3px;
    position: relative;
    .card-head {
        position: relative;
        margin-bottom: 27px;
        background-size: cover;
        background-position: center;
        height: 200px;
        .card-head__overlay {
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), #000000);
        }
        .card-head__info {
            color: white;
            position: absolute;
            bottom:0;
            left:0;
            ul {
                list-style: none;
                padding-left: 30px;
                margin-bottom: 7px;
            }
            li:first-child { font-weight: bold; }
            li:last-child { text-transform: uppercase; }
            i { margin-right: 10px }
        }
    }
    .card-body {
        margin-bottom: $paragraph-margin-bottom * 2;
        .card-body__motto {
            font-style: italic;
        }
        .icon {
            color: $corporate-primary;
            margin-right: 10px;
            float: left;
        }
        .btn-validate {
            width: 100%;
            display: block;
            background-color: white;
            color: $corporate-primary !important;
            border: solid 1px;
            text-align: center;
        }
    }

    &:not(.horizontal) {
      cursor: pointer;
      .card-head {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .card-body {
        clear: both;
        padding: 15px;
        a {
          position: absolute;
          bottom: 15px;
          color: $corporate-primary;
          font-weight: 600;
        }
      }
    }

    &.home {
      margin-bottom: 30px;
      height: 400px;
      .card-head {
        .card-head__info {
          bottom: 20px;
          ul {
            padding-left: 15px;
          }
        }
      }
      .card-body {
          position: relative;
          i {
            position: absolute;
            top: -40px;
            left: 15px;
          }
     }
    }
}

@media (min-width: $md) {
    .card-staff {
        .card-head {
            width: 100%;
            height: 266px;
            float: left;
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .card-body {
            .btn-validate {
                display: inline;
            }
        }
    }

    &.horizontal {
        .card-head {
            width: 200px;
            height: 266px;
        }

    }

}

/**********************************************************************************************************************/
/* #BOAT CARD                                                                                                         */
/**********************************************************************************************************************/
.card-boat {
    .card-head {
        height: 200px;
        position: relative;
        margin-bottom: 27px;
        background-size: cover;
        background-position: center;
    }
    .card-body {
    }
    // Transformer
    &.card-boat--diving {
        h2 {
            color: $text;
        }
    }
}

@media  (min-width: $lg) {
    .card-boat .card-head {
        height: 300px;
    }
}



/**********************************************************************************************************************/
/* COLLECTION CARDS                                                                                                   */
/**********************************************************************************************************************/

.collection-cards {
     .mb-card {
       margin-bottom: 30px;
     }
    .collection-card {
      width: 100%;
      height: 100%;
      min-height: 300px;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0px 4px 7.7px 0.3px rgba(2, 3, 2, 0.14);
      position: relative;
      .text {
        position:absolute;
        left: 20px;
        bottom: 20px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1.4px;
        pointer-events: none;
        strong {
          display:block;
          font-size:24px;
          line-height: 22px;
        }
      }
       
      a:not(.btn) {
        transition: all .5s ease-in-out;
        background-size: cover;
        background-position: center;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
}


.why-card {
text-align: center;
margin-bottom: $p*2;
padding: 0 2em;
div {
  margin-top: $p;
  b {
    font-size: 16px;
    color: $corporate-primary;
  }
  p {
    margin-top: $p/1.5;
  }
}
}