.checklist {
    padding-left: 25px;
    margin: 0px;
    color: $sub-title;

    .li-text {
        color: $color-grey2;
    }

    &.color-primary {
        color: $corporate-primary;
    }
    &.color-pro {
        color: $pro-primary;
    }
    &.color-gift {
        color: $gift-primary;
    }
    &.color-info {
        color: $info-color;
    }
    &.color-error {
        color: $error-color;
    }
    &.color-warning {
        color: $warning-color;
    }
}

.checklist-icon {
    list-style-type: none;
    padding-left: 25px;
    margin: 0px;

    color: $color-grey2;
    i, .li-title {
        color: $sub-title;
    }

    li {
        position: relative;
        i {
            position: absolute;
            left: -20px;
            top: 5px;
        }
    }

    &.color-primary {
        i, .li-title {
            color: $corporate-primary;
        }
    }
    &.color-pro {
        i, .li-title {
            color: $pro-primary;
        }
    }
    &.color-gift {
        i, .li-title {
            color: $gift-primary;
        }
    }
    &.color-info {
        i, .li-title {
            color: $info-color;
        }
    }
    &.color-error {
        i, .li-title {
            color: $error-color;
        }
    }
    &.color-warning {
        i, .li-title {
            color: $warning-color;
        }
    }
}