.know-more-link {
  margin-left: 10px;
  font-family: FontAwesome;
  font-size: 21px;
  text-decoration: none;
}
.know-more-link:after {
  content: "\f147 ";
}
.know-more-link.collapsed:after {
  content: "\f196";
}
.know-more-link:hover {
  color: $corporate-secondary;
  text-decoration: none;
}