// Starting forms
.text-field-group {
  position:relative;
  margin-bottom:45px;
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
  }


  input:focus {
    outline:none;
    border-bottom: none;
  }
  // Labels
  label 				 {
    color:#999;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  // Active State
  input:focus ~ label, input:valid:not(:placeholder-shown) ~ label 		{
    top:-20px;
    font-size:14px;
    color:$corporate-primary;
  }
  // Border bottom forms
  .bar 	{
    position:relative;
    display:block;
    width: 100%;
  }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:$corporate-primary;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }
  // Active State
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  // Highlighter
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  // Active state
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  // ANIMATIONS
  @-webkit-keyframes inputHighlighter {
    from { background:$corporate-primary; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:$corporate-primary; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:$corporate-primary; }
    to 	{ width:0; background:transparent; }
  }
}

.form-group {
    margin-bottom: 0px;
}


.onoff {

  span {
    color: $text;
  }

  p {
    margin-top: 0.8em;
    margin-left: 15px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 87px;
    height: 32px;
    line-height: 30px;
    
    input {
      visibility: hidden;
    }
    
    label {
      position: absolute;
      top: 0px;
      left: 8px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-size: 16px;
      border-radius: 16px;
      font-weight: bold;
      text-indent: 44px;
      border: 1px solid $corporate-primary;
      -webkit-transition: background 0.3s, text-indent 0.3s;
      -moz-transition: background 0.3s, text-indent 0.3s;
      -o-transition: background 0.3s, text-indent 0.3s;
      transition: background 0.3s, text-indent 0.3s;
    }

    label:after {
      content: 'non';
      display: block;
      position: absolute;
      font-weight: normal;
      top: -1px;
      left: 0px;
      width: 100%;
      color: $text;
      z-index: 1;
    }

    label:before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $corporate-primary;
      position: absolute;
      z-index: 2;
      top: 6px;
      left: 9px;
      display: block;
    }

    input:checked + label {
      background: $corporate-primary;
      text-indent: 14px;
    }
    
    input:checked + label:after {
      content: 'oui';
      color: #FFF;
    }

    input:checked + label:before {
      left: 59px;
      background: #FFF;
    }

  }
}