.activity-tags {
    color: $color-grey2;
    display: block;
    height: auto;
    overflow: auto;
    .activity-tags-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .activity-tags-list .item {
        float: left;
        width: 33%;
        position: relative;
        text-align: center;
        display: block;
        margin-top: 20px;
    }
    .activity-tags-list .item .icon {
        width: 100%;
        font-size: 25px;
    }
    .activity-tags-list .item .label {
    }
}

@media (min-width: $lg) {
    .activity-tags .activity-tags-list .item {
        width: 16.6%;
    }
}
