.activity-tags {
    color: $color-grey2;
    display: block;
    height: auto;
    overflow: auto;
    .activity-tags-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .activity-tags-list .item {
        width: 33%;
        text-align: center;
        margin-top: 20px;
    }
    .activity-tags-list .item .icon {
        width: 100%;
        font-size: 25px;
    }
    .activity-tags-list .item .label {
    }
}
.text-icon {
    i {
        font-size: 22px;
        margin-right: 10px;
    }
}

@media (min-width: $lg) {
    .activity-tags .activity-tags-list .item {
        width: 16.6%;
    }
}
