.main-navbar {
  z-index: 1072;
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 2px 5.9px 0.1px rgba(2, 3, 2, 0.15);
  padding-top: 0;
  padding-bottom: 0;
  .main-navbar-mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .link-mobile{
    color: $corporate-primary;
    font-size: 20px;
    position: absolute;
    top: 15px;
  }
  .link-mobile,
  .navbar-toggler {
    font-size: 1.5em;
  }
  .link-messages {
    right: 170px;
    top: 19px;
  }
  .link-travel {
    right: 110px;
    top: 19px;
  }
  .link-phone {
    right: 53px;
  }
  .link-search {
    right: 81px;
    top: 13px;
  }
  .navbar-brand {
    #main-logo {
      width: 140px;
      height: 48px;
    }
    #main-logo-search-mobile {
      height: 32px;
      width: 32px;
      margin-left: 5px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  .navbar-toggler {
    border: none;
    i {
      color: $corporate-primary;
    }
  }
  .navbar-collapse {
    &.collapse, &.collapsing {
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      top: 50px;
      z-index: 3;
      left: 0px;
      ul {
        padding-left: 1em;
      }
    }
    ul {
      font-size: $text-sm;
      li.navbar-link-account {
        .dropdown-account {
          font-size: $text-sm;
          border: none;
        }
      }
      li.navbar-link-help {
        .nav-link {
          color: $corporate-primary;
        }
      }
    }
  }
  .dropdown-menu {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0;
    .dropdown-item {
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid transparent;
        &:hover, &:active {
          color: $corporate-primary;
          border-color: $corporate-primary;
          background: #fff;
        }
    }
  }

  .nav-notif {
    display: block;
    font-size: 14px;
    .badge {
      font-size: 14px;
      color: #fff;

      background-color: rgba(0, 0, 0, 0.5);
      &:hover, &:active {
        background-color: $color-grey2;
      }

      &.active {
        background-color: $corporate-secondary;
        &:hover, &:active {
          background-color: $corporate-primary;          
        }
      }

      i {
        margin-right: 3px;
      }
    }
  }

  .navbar-nav .nav-link {
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $corporate-primary;
      border-color: $corporate-primary;
    }
  }

  &.navbar-transparent {
    background: transparent;
    box-shadow: none;
    border: none;
    .link-mobile,
    .navbar-toggler i {
      color: #fff;
    }
  }

  &.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media screen and (min-width: $sm) {
  .main-navbar {
    .reservation-type-filter {
        justify-content: center;
      .reservation-type-button {
        flex: none;
        margin-right: 18px;
        .priv-shr-txt {
          padding-right: 60px;
          line-height: 2em;
          width: auto;
          .counter-container {
            top: 2px;
          }
        }
      }
    }
    .nav-link {
      font-size: 16px;
    }
    .navbar-collapse ul li.navbar-link-account .dropdown-account {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $lg) {
  .main-navbar {
    display: flex;
    .link-mobile {
      display: none;
    }
    .navbar-brand {
      margin-left: -12px;
      padding-top: 0;
      padding-bottom: 0;
      #main-logo {
        width: 195px;
        height: 45px;
      }
    }
    .nav-notif {
      padding: 1.2rem 0.5rem;
      .badge {
        vertical-align: bottom;
      }
    }
    .navbar-collapse {


    &.collapse {
      position: static;
      ul {
        padding-left: 0;
      }
    }

    .dropdown-menu {
      z-index: 1200;
      box-shadow: 0px 4px 7.7px 0.3px rgba(2, 3, 2, 0.14);
      top: 57px;
      padding: 0;
      .dropdown-item {
          padding: 0.75rem 0.75rem;
          font-size: 15px;
      }
    }

      ul {
        width: 100%;
        li.navbar-link-right {
          align-self: flex-end;        
          &.first-navbar-link-right {
            margin-left: auto;
          }
        }

        li.navbar-link-account {
          .dropdown-account {
            width: 175px;
          }
        }
        li.navbar-link-help {
          .nav-link {
            font-style: italic;
            text-align: center;
            padding: 10px 0 11px 10px;
            margin-right: 15px;
            line-height: 18px;
            b {
              font-size: 18px;
            }
          }
        }
      }
    }

    .navbar-nav .nav-link {
      padding: 1.2rem 0.5rem;
    }

    &.navbar-transparent .navbar-collapse {
      background: transparent;
      box-shadow: none;
      border: none;
      .navbar-nav > li > a {
        color: #fff;
        font-weight: 600;
        &:hover {
          border-color:#fff;
        }
      }
    }


  }
}