.main-navbar {
  z-index: 1072;
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 2px 5.9px 0.1px rgba(2, 3, 2, 0.15);
  .main-navbar-mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .link-mobile{
    color: $corporate-primary;
    font-size: 20px;
    position: absolute;
    top: 15px;
  }
  .link-phone {
    right: 60px;
  }
  .link-search {
    right: 55px;
    top: 14px;
  }
  .navbar-brand {
    .navbar-logo {
      width: 34px;
      height: 34px;
    }
  }
  .btn-search-mobile {
    text-transform: none;
    font-weight: normal;
    color: $text;
    border-color: $color-grey1;
    border-radius: 3px;
    padding: 4px 16px;
  }
  .navbar-toggler {
    border: none;
    i {
      color: $corporate-primary;
    }
  }
  .navbar-collapse {
    &.collapse, &.collapsing {
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      top: 50px;
      z-index: 3;
      left: 0px;
      ul {
        padding-left: 1em;
      }
    }
    ul {
      font-size: $text-sm;
      li.navbar-link-account {
        .dropdown-account {
          font-size: $text-sm;
          border: none;
        }
      }
    }
  }
  .dropdown-menu {
    z-index: 1200;
  }
  .reservation-type-filter {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
    .reservation-type-button {
      flex-grow: 1;
      margin-right: 18px;
    }
    [type="radio"]:checked + label {
      border: none;
      color: $corporate-primary;
    }
  }
}

@media screen and (min-width: $sm) {
  .main-navbar {
    .reservation-type-filter {
        justify-content: center;
      .reservation-type-button {
        flex: none;
        margin-right: 18px;
      }
    }
    .nav-link {
      font-size: 16px;
    }
    .navbar-collapse ul li.navbar-link-account .dropdown-account {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $lg) {
  .main-navbar {
    display: flex;
    .link-mobile {
      display: none;
    }
    .navbar-brand {
      margin-left: -12px;
      padding-top: 0;
      padding-bottom: 0;
      .navbar-logo {
        width: 195px;
        height: 45px;
      }
    }
    .navbar-collapse {


    &.collapse {
      position: static;
      ul {
        padding-left: 0;
      }
    }


      ul {
        li.navbar-link-account {
          position: absolute;
          right: 60px;
          .dropdown-account {
            width: 175px;
            border: 1px solid $color-grey1;
            top: 47px;
            left: 24px;
          }
        }
      }
    }
  }
}