.main-navbar {
  z-index: 1072;
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 2px 5.9px 0.1px rgba(2, 3, 2, 0.15);
  padding-top: 0;
  padding-bottom: 0;
  .main-navbar-mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .link-mobile{
    color: $corporate-primary;
    font-size: 20px;
    position: absolute;
    top: 15px;
  }
  .link-mobile,
  .navbar-toggler {
    font-size: 1.5em;
  }
  .link-phone {
    right: 60px;
  }
  .link-search {
    right: 95px;
    top: 13px;
  }
  .navbar-brand {
    #main-logo {
      width: 140px;
      height: 48px;
    }
    #main-logo-search-mobile {
      height: 32px;
      width: 32px;
      margin-left: 5px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  .btn-search-mobile {
    text-transform: none;
    font-weight: normal;
    color: $text;
    border-color: $color-grey1;
    border-radius: 3px;
    padding: 4px 16px;
    width: 100%;
    font-size: 1.15em;
    color: $corporate-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:active {
      color: $corporate-primary !important;   
    border-color: $color-grey1 !important; 
    }
  }
  .navbar-toggler {
    border: none;
    i {
      color: $corporate-primary;
    }
  }
  .navbar-collapse {
    &.collapse, &.collapsing {
      position: absolute;
      background: rgb(255, 255, 255) none repeat scroll 0% 0%;
      width: 100%;
      top: 50px;
      z-index: 3;
      left: 0px;
      ul {
        padding-left: 1em;
      }
    }
    ul {
      font-size: $text-sm;
      li.navbar-link-account {
        .dropdown-account {
          font-size: $text-sm;
          border: none;
        }
      }
    }
  }
  .dropdown-menu {
    z-index: 1200;
  }
  .reservation-type-filter {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
    .reservation-type-button {
      flex-grow: 1;
      margin-right: 18px;
      .priv-shr-txt {      
        line-height: 1.5em;
        padding-left: 20px;
        padding-bottom: 5px;
        height: auto;
        width: 150px;
      }
      .counter-container {
        width: 28px;
        height: 28px;
        right : 15px;
        font-size: 13px;
        padding-top: 5px;
      }
    }
    [type="radio"]:checked + label {
      border: none;
      color: $corporate-primary;
      font-weight: 700;
      border-bottom: 3px solid $corporate-primary;
    }
  }


  .navbar-nav .nav-link {
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $corporate-primary;
      border-color: $corporate-primary;
    }
  }

  &.navbar-transparent {
    background: transparent;
    box-shadow: none;
    border: none;
    .link-mobile,
    .navbar-toggler i {
      color: #fff;
    }
  }

  &.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media screen and (min-width: $sm) {
  .main-navbar {
    .reservation-type-filter {
        justify-content: center;
      .reservation-type-button {
        flex: none;
        margin-right: 18px;
        .priv-shr-txt {
          padding-right: 60px;
          line-height: 2em;
          width: auto;
          .counter-container {
            top: 2px;
          }
        }
      }
    }
    .nav-link {
      font-size: 16px;
    }
    .navbar-collapse ul li.navbar-link-account .dropdown-account {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: $lg) {
  .main-navbar {
    display: flex;
    .link-mobile {
      display: none;
    }
    .navbar-brand {
      margin-left: -12px;
      padding-top: 0;
      padding-bottom: 0;
      #main-logo {
        width: 195px;
        height: 45px;
      }
    }
    .navbar-collapse {


    &.collapse {
      position: static;
      ul {
        padding-left: 0;
      }
    }


      ul {
        li.navbar-link-account {
          position: absolute;
          right: 60px;
          .dropdown-account {
            width: 175px;
            border: 1px solid $color-grey1;
            top: 47px;
            left: 24px;
          }
        }
      }
    }

    .navbar-nav .nav-link {
      padding: 1.2rem 0.5rem;
    }

    &.navbar-transparent .navbar-collapse {
      background: transparent;
      box-shadow: none;
      border: none;
      .navbar-nav > li > a {
        color: #fff;
        font-weight: 600;
        &:hover {
          border-color:#fff;
        }
      }
    }


  }
}