.order-detail-panel {
    h3, p {
        margin-bottom: 0px;
        line-height: 20px;
    }

    &>div+div {
        margin-top: 16px;
    }

    .tarif {
    	color: $corporate-primary;
    }


    .big-info {
        border-radius: 2px;
        border: solid 1px $color-grey4;
        .title {
            display: inline-block;
            background-color: $color-grey4;
            padding: 8px 16px;
        }
        .info {
            padding: 6px 16px;
        }
    }

    .amended {
        color: $pro-primary;
    }
}