/** PAGINATION **/

$other_page_color: $color-grey2;
$active_page_color: $corporate-primary;

.pagination-container {
    font-size: 14px;
    text-align: center;
    margin: 16px 0px 50px 0px;
    
    .page-number,
    .previous,
    .next {
        height: 28px;
        width: 28px;
        line-height: 26px;
        display: inline-block;
        border-radius: 20px;
        cursor: pointer;
        margin: 0px 3px;
        color: $other_page_color;

        &:hover {
            color: $active_page_color;
        }

        &.page-active {
            border: 1px solid $active_page_color;
            background-color: $active_page_color;
            color: white;
            cursor: auto;
        }

        &.disabled {
            visibility: hidden;
        }
    }

    .next,
    .previous {
        color: $active_page_color;
        border: 1px solid $active_page_color;
        margin: 0px 5px;
    }
}