.popup {
  position: fixed;
  width: 315px;
  height: 70px;
  right: 0;
  bottom: -60px;
  border: 1px solid $color-grey1;
  background-color: $color-white1;

  transition: 1s;
  .popup-icon {
    display: inline-block;
    font-size: 24px;
    position: relative;
    top: -15px;
    right: 12px;
    margin-left: 40px;
  }
  .popup-text {
    padding-top: 10px;
    display: inline-block;
    p {
      margin-bottom: 0px;
    }
  }
  .popup-close {
    color: $text;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 3px;
    left: -9px;
  }
  .popup-close:hover {
    color: black;
  }
}
.popup.show {
  transition: 1s;
  bottom: 0;
}

@media screen and (max-width: $sm) {
  .popup {
    width: 100%;
  }
}