/**
 * General Settings
 *
 *
 *
 */

$back_color: $color-grey3;
$empty_input_color: $color-grey2;
$actived_input_color: $corporate-primary;

// Spacing for sm (768px) device.
// It's the first media since the filter are hidden one smaller device.
$filter-spacing-md: 16px;

// Spacing for sm (992px) device.
$filter-spacing-lg: 40px;

// Spacing for sm (1200px) device.
$filter-spacing-xl: 24px;


/** 
 * Form Select
 *
 * Created by Ripoche Sylvain on 10/10/2017
 * Last modification by Ripoche Sylvain on 10/10/2017
 * 
 * Define a form group so he can handle :
 *     - A .remove, to clear input.
 *     - A .form-option collapse to display choices.
 */

.form-select,
.form-select--autocomplete {
    position: relative;
    .form-group {
        /* The X button to reset the filter */
        .remove {
            display: none;
            position: absolute;
            right: 9px;
            top: 7px;
            cursor: pointer;
            font-size: 14px;
            color: #999;
        }
        input:not(:empty) {
            &~.remove {
                display: inline-block;
            }
            &~.angle {
                display: none;
            }
        }

        .angle {
            position: absolute;
            right: 9px;
            top: 7px;
            cursor: pointer;
            font-size: 14px;
            color: #999;
            &.up {
                display: none;
            }          
        }
    }
    .form-option {
        position: absolute;
        width: 100%;
        padding: 4px 12px;
        margin-top: 6px;
        z-index: 5;
        background-color: white;
        border: 1px solid $color-grey1;
        border-radius: 2px;
        color: $color-grey2;
        cursor: pointer;
        box-shadow: 0 4px 7.7px .3px rgba(2,3,2,.14);
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0px;
            li {
                padding: 2px;
            }
        }
        ul li:hover {
            color: $corporate-primary;
        }
        .parent {
            font-size: 18px;
            font-weight: 600;
        }
        .child {
            color: grey;
            font-size: 14px;
            padding-left: 9px;
        }
        .default-info {
            padding: 2px 2px;
            font-weight: bold;
            color: $sub-title;
        }
    }

    &.open {
        .angle.down {
            display: none;
        }
        .angle.up {
            display: inline-block;
        }
    }
}

/** 
 * Form Group With Icon
 *
 * Created by Ripoche Sylvain on 10/10/2017
 * Last modification by Ripoche Sylvain on 10/10/2017
 * 
 * Add the possibility to display an icon ont he left of the input.
 * The icon is hidden if the focus goes on the input.
 * 
 */
 
 .form-group.has-iconlabel {
    position: relative;
    .form-control {
        padding-left: 26px;
        width: 100%;
    }
    .form-control:focus {
        padding-left: 12px;
        outline-color: $corporate-primary;
        &+.form-control-icon {
            display: none;
        }
    }
    .form-control-icon {
        position: absolute;
        display: block;
        top: 0px;
        z-index: 2;
        width: 30px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        pointer-events: none;
    }
}

/* Theming */
.form-group {
    .form-control {
        background-color: white;
        border: 1px solid $color-grey1;
        border-radius: 2px;
        height: 33px;
        font-size: 15px;
        margin-bottom: 0px;
        color: $empty_input_color;
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::-ms-input-placeholder {
            color: $empty_input_color;
        }
        &:-moz-placeholder,
        &::-moz-placeholder {
            color: $empty_input_color;
            opacity: 1;
        }
    }
    .form-control-icon {
        color: $empty_input_color;
    }
    input.form-control,
    input:not(:empty)+.form-control-icon,
    input:not(:empty)+div,
    input~.form-control-icon,
    input+.form-control-icon {
        color: $actived_input_color;
    }

}


/* Boat sharing filter ( radio input ) */
.reservation-type-filter {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;

    [type="radio"] {
        display: none;
    }
    label {
        box-shadow: 0px 4px 7.7px 0.3px rgba(2, 3, 2, 0.14);
        border-radius: 3px;
        margin-bottom: 0px;
        cursor: pointer;
        color: $empty_input_color;
        font-weight: 400;
        padding: 1em 0.3em;
        background: $color-grey3;
        opacity: 0.7;
        .priv-shr-txt {
            line-height: 1em;
            font-size: 16px;
            div {
              padding-right: 32px;
            }
            small {
              display: block;
              line-height: 14px;
              font-size: 14px;
              color: $color-grey2;
              margin-top: 5px;
              font-weight: 300;
            }
        }
        .counter-container {
            position: absolute;
            top: 13px;
            right: 6px;
            width: 32px;
            height: 21px;
            color: white;
            background-color: $empty_input_color;
            font-size: 16px;
            border-radius: 28px;
            font-weight: 600;
            text-align: center;
            line-height: 1.3;
        }

        img {
          position: absolute;
          height: 45px;
          top: 14px;
          left: 20px;
          display: none;
        }

    }
    [type="radio"]:checked+label {
        background: #fff;
        opacity: 1;
        font-weight: 600;
        color: $actived_input_color;
        .counter-container {
            background-color: $corporate-primary;
        }
    }
}


/* Button that open the ordering option */
.ordering-filter {
    position: absolute;
    top: 12px;
    right: $filter-spacing-md;
    border: solid 1px #dbdbdb;
    border-radius: 2px;
    padding: 0px 0px;
    .dropdown-menu {
        width: initial;
        min-width: initial;
        margin-top: 6px;
        border-radius: 2px;
        border: 1px solid $color-grey1;
    }
    li {
        cursor: pointer;
        text-align: right;
        width: 160px;
        color: $color-grey2;
        &:hover {
            color: $corporate-primary;
        }
    }
    .text-button {
        &:not(.default) {
            color: #00CCCC;
        }
        &:not(:empty)+.default {
            display: none;
        }
    }
    .caret {
        margin-left: 12px;
    }
        button,
    button:hover,
    button:focus {
        height: 25px;
        line-height: 0.8;
        border-radius: 0px;
        border: none;
        background-color: initial;
        outline: none !important;
        box-shadow: none !important;
        color: $empty_input_color;
        .text-button {
            font-size: 15px;
        }
    }
    .active button,
    button.active {
        color: $actived_input_color;
    }
}



@include media-breakpoint-up(md) {
    .form-select--autocomplete {
        .form-group {
            &.form-group-xl {
                .angle, .remove {
                  top: 4px;
                  font-size: 18px;
                }
                .form-control {
                  height: 36px;
                  font-size: 18px;
                }  
            }
        }
    }
    .form-group.has-iconlabel {
        &.form-group-xl {
            .form-control {
                padding-left: 38px;
            }
            .form-control-icon {
              height: 36px;
              line-height: 36px;
              width: 36px;
              font-size: 18px;
            }  
        }
    }

    .reservation-type-filter {
      label {
        padding: 1em;
      }
      label .priv-shr-txt {
        font-size: 24px;
        .counter-container {
            width: 40px;
            right: 21px;
        }
        div {
              padding-right: 50px;
        }
      }
    }

    .ordering-filter {
      top: -13px;
    }
}

@include media-breakpoint-up(lg) {
    .reservation-type-filter {
      label .priv-shr-txt {
        small {
          padding-right: 50px;
        }
      }
    }
}

@media (min-width: $xl){
  .reservation-type-filter {
    label {
      .priv-shr-txt { 
        margin-left: 85px;
      }
      &.private {
          .priv-shr-txt { 
            margin-left: 78px;
          }
      }
      img.not-ok {
        display: block;
      }
      img.ok {
        display: none;
      }
    }

    [type="radio"]:checked+label {
        img.not-ok {
          display: none;
        }
        img.ok {
          display: block;
        }
    }

  }
}