/**
 * General Settings
 *
 *
 *
 */

$back_color: $color-grey3;
$empty_input_color: $color-grey2;
$actived_input_color: $sub-title;


/** 
 * Form Select
 *
 * Created by Ripoche Sylvain on 10/10/2017
 * Last modification by Ripoche Sylvain on 10/10/2017
 * 
 * Define a form group so he can handle :
 *     - A .remove, to clear input.
 *     - A .form-option collapse to display choices.
 */

.form-select,
.form-select--autocomplete {
    position: relative;
    .form-group {
        /* The X button to reset the filter */
        .remove {
            display: none;
            position: absolute;
            right: 9px;
            top: 2px;
            cursor: pointer;
            font-size: 19px;
            color: #999;
        }
        input:not(:empty)~.remove {
            display: inline-block;
        }
    }
    .form-option {
        position: absolute;
        width: 100%;
        padding: 4px 12px;
        margin-top: 6px;
        z-index: 5;
        background-color: white;
        border: 1px solid $color-grey1;
        border-radius: 2px;
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0px;
            li {
                padding: 4px;
            }
        }
        ul li:hover {
            color: $corporate-primary;
        }
        .parent {
            font-weight: 600;
        }
        .child {
            color: grey;
            font-size: 15px;
            padding-left: 9px;
        }
    }
}

/** 
 * Form Group With Icon
 *
 * Created by Ripoche Sylvain on 10/10/2017
 * Last modification by Ripoche Sylvain on 10/10/2017
 * 
 * Add the possibility to display an icon ont he left of the input.
 * The icon is hidden if the focus goes on the input.
 * 
 */
 
 .form-group.has-iconlabel {
    position: relative;
    .form-control {
        padding-left: 31px;
        line-height: 32px;
        width: 100%;
    }
    .form-control:focus {
        padding-left: 12px;
        &+.form-control-icon {
            display: none;
        }
    }
    .form-control-icon {
        position: absolute;
        display: block;
        top: 0px;
        z-index: 2;
        width: 33px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        pointer-events: none;
    }
}

/* Theming */
.form-group {
    .form-control {
        background-color: white;
        border: 1px solid $color-grey1;
        border-radius: 2px;
        height: 33px;
        font-size: 15px;
        margin-bottom: 0px;
        color: $empty_input_color;
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::-ms-input-placeholder {
            color: $empty_input_color;
        }
        &:-moz-placeholder,
        &::-moz-placeholder {
            color: $empty_input_color;
            opacity: 1;
        }
    }
    .form-control-icon {
        color: $empty_input_color;
    }
    input.form-control,
    input:not(:empty)~.form-control-icon,
    input:not(:empty)+div {
        color: $actived_input_color;
    }
}

.filter-container {
    padding: 0px 15px;
    background-color: white;
}

.main-filter {
    padding: 8px;
    padding-top: 16px;
    .col {
        padding: 0 8px;
    }
    background-color: $back_color;
}

/* Boat sharing filter ( radio input ) */
.boat-sharing-filter {
    padding: 0px 16px;
    background-color: $back_color;

    .boat-sharing-button {
        float: left;
        position: relative;
        margin-right:22px;
    }
    [type="radio"] {
        display: none;
    }
    label {
        margin-bottom: 0px;
        cursor: pointer;
        color: $empty_input_color;
        font-weight: 400;
        .priv-shr-txt {
            padding-right: 30px;
            height: 32px;
            line-height: 2;
            font-size: 16px;
        }
        .counter-container {
            position: absolute;
            top: 5px;
            right: 0px;
            width: 24px;
            height: 24px;
            color: white;
            background-color: $empty_input_color;
            font-size: 11px;
            border-radius: 28px;
            font-weight: 400;
            padding-top: 5px;
            text-align: center;
            line-height: 1.42857143;
        }
    }
    [type="radio"]:checked+label {
        border-bottom: 2px solid $corporate-primary;
        font-weight: 600;
        color: $actived_input_color;
        .counter-container {
            background-color: $corporate-primary;
        }
    }
}

/* Other filter row */
.other-filter {
    position: relative;
    padding: 14px 16px;
    /* Design for dropdown button and button on this row */
    button,
    button:hover,
    button:focus {
        height: 25px;
        line-height: 0.8;
        border-radius: 0px;
        border: none;
        background-color: initial;
        outline: none !important;
        box-shadow: none !important;
        color: $empty_input_color;
        .text-button {
            font-size: 15px;
        }
    }
    .active button,
    button.active {
        color: $actived_input_color;
    }

    /* Generics design for all dropdown */
    .dropdown {
        display: inline;
        padding-right: 32px;
        .dropdown-menu {
            top: 30px;
            border-radius: 2px;
            padding: 6px 12px;
            width: 230px;
            border-color: #f5f5f5;
        }
        &.open button {
            background-color: #f5f5f5;
        }
    }


    /* Button that open the ordering option */
    .ordering-filter {
        position: absolute;
        right: 15px;
        border: solid 1px #dbdbdb;
        border-radius: 2px;
        padding: 0px 0px;
        .dropdown-menu {
            width: initial;
            min-width: initial;
            margin-top: 6px;
            border-radius: 2px;
            border: 1px solid $color-grey1;
        }
        li {
            cursor: pointer;
            text-align: right;
            width: 160px;
            &:hover {
                color: $corporate-primary;
            }
        }
        .text-button {
            &:not(.default) {
                color: #00CCCC;
            }
            &:not(:empty)+.default {
                display: none;
            }
        }
        .caret {
            margin-left: 12px;
        }
    }
}

/* Other filter collapse */
.other-filter-collapse {
    margin-top: 16px;
    .full-height {
        height: 100vh;
    }

    .filter-group {
        margin-bottom: 16px;
    }

    .filter-title {
        color: $actived_input_color;
        margin-bottom: 6px;
    }
    label {
        color: $empty_input_color;
        input {
            position: relative;
            top: 1px;
            margin-right: 5px;
        }
        &:hover {
            color: $corporate-primary;
        }
    }
}