.subnav-links {
    padding: 0 20px;
    font-size: 14px;
    overflow: auto;
    margin-top: 30px;
    .navbar-nav {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: inline;
        height: auto;
        width: 100%;
    }
    .nav-item {
        float: left;
        width: 20%;
        text-align: center;
        position: relative;
        font-weight: normal;
        &.active {
            font-weight: bold;
            border-bottom: solid 2px $corporate-primary;
            .nav-link { color: $corporate-primary; }
        }
    }
    .nav-link {
        padding: 1rem 1rem;
        color: $color-grey2;
    }
}
.nav-user-account {
    display: none;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 0px;
    background-color: $color-white1;
    font-weight: normal;
    margin-top: 58px;
    box-shadow: 0px 4px 5.9px 0.1px rgba(2, 3, 2, 0.04);
    .navbar-nav {
        .nav-item {
            width: 180px;
            text-align: left;
            a {
                padding-left: 0px;
                .text-icon {
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (min-width: $lg){
    .nav-user-account {
        display: block;
    }
}
