/** 
 * Subnav links for account.
 *
 * Created by Ripoche Sylvain on 03/05/2018
 * Last modification by Ripoche Sylvain on 03/05/2018
 * 
 */

.subnav-links {
    overflow: auto;
    background-color: white;
    box-shadow: 0px 4px 5.9px 0.1px rgba(2, 3, 2, 0.04);
    border-top: 1px solid $color-grey3;
    z-index: 1070;
    margin-top: 55px;

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item {
        .nav-link {
            color: $text;
            font-size: 16px;
            padding-right: 10px;
            padding-left: 10px;
        }

        &.active {
            border-bottom: 2px solid $corporate-primary;
            .nav-link { 
                color: $corporate-primary;
            }
        }

    }

}

@include media-breakpoint-up(sm) {
    .subnav-links {
        .navbar-nav {
            padding: 0px 64px;
        }
    }
}

@include media-breakpoint-up(md) {
    .subnav-links {
        .navbar-nav {
            display: inline;
            padding: 0px;
        }

        .nav-item {
            float: left;
            margin-right: 46px;

            .nav-link {
                color: $color-grey2;
                .text {
                    display: initial;
                }
                i {
                    padding-left: 0px;
                }
            }
        }

    }
}