.light-tabs {
    justify-content: space-between;
    border: none;
    margin-bottom: 8px;

    .nav-item {
        margin: 0px;
    }
    .nav-link {
        padding: 0px;
        color: $color-grey2;
        border: none;
        padding-bottom: 8px;
        &:hover {
        }
        &.active {
            color: $sub-title;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid $sub-title;
        }
    }
}

.table-tabs {
    border: none;
    .nav-item {
        max-width: 33%;
    }
    .nav-link {
        color: $sub-title;
        border: none;
        text-align: center;
        &.color-waiting {
            color: $warning-color;
        }
        &.color-validated {
            color: $corporate-primary;
        }
        &.color-decline {
            color: $error-color;
        }
        &.active {
            color: white;
            background-color: $pro-primary;
        }
    }
}

.vertical-tabs {
    .tab-title {
      color: $sub-title;
      font-size: 20px;
      line-height: 40px;
      padding-bottom: 18px;
      margin-bottom: 36px;
      font-weight: bold;
      border-bottom: 1px solid $color-grey1;
    }

    .nav-pills a {
      color: $text;
      font-weight: 600;
      font-size: 18px;
      &.active {
        color: $corporate-primary;
      }
    }
}