//Don't forget the opacity for cards

.timeline-item {
  padding: 10px 40px;
  position: relative;
  color: black;
  border-left: 1px solid $corporate-primary;
  p.current-order-title {
    span {
      font-weight: 900;
    }
  }
  p.past-order-title  {
  }
  &::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: .785rem;
  }

  &::after {
    width: 14px;
    height: 14px;
    display: block;
    top: 1em;
    position: absolute;
    left: -8px;
    border-radius: 50%;
    content: '';
    border: 1px solid $corporate-primary;
    background: $color-white1;
  }
}
.timeline-item.current-order{
  &::after {
    border: 2px solid $corporate-primary;
    background: $corporate-primary;
    border-color: $corporate-primary;
    box-shadow: 0 0 7.4px 0.6px rgba(0, 204, 204, 0.6);
  }
}