h1 {
  color: $corporate-primary;
}
h2 {
  color: $sub-title;
}
h3,p {
  color: $text;
}
.title-icon {
  .icon {
    border-right: 2px solid;
    padding-right: 12px;
    margin-right: 6px;
  }
}
.title-step {
  color: $corporate-primary;
  text-decoration: underline;
  span:first-child {
    text-transform: uppercase;
  }
}