.title-icon {
  .icon {
    border-right: 2px solid;
    padding-right: 12px;
    margin-right: 6px;
  }
}
.title-step {
  color: $corporate-primary;
  span:first-child {
    text-transform: uppercase;
  }
  span:last-child {
    font-weight: normal;
  }
}