.title-icon {
    .icon {
        border-right: 2px solid;
        padding-right: 12px;
        margin-right: 6px;
        &.colored {
          color: $corporate-primary;
        }
        &.thin {
          border-right: 1px solid;
        }
    }
    .sub-title {
        display: block;
        font-size: $p;
        text-transform: none;
        font-weight: normal;
        padding-left: 45px;
    }
}
.title-question {
    @extend .mb-1;
    font-weight: normal;
    font-size: $p;
    font-style: italic;
    color: $corporate-primary;
}
.title-step {
    display: block;
    span:first-child {
        text-transform: uppercase;
    }
    span:last-child {
        font-weight: normal;
    }
}

.title-round-number {
    .number {
        width: 25px;
        height: 25px;
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        border: 1px solid;
        color: $corporate-primary;
        border-radius: 50%;
    }
}
//@media (min-width: $md){
//    .title-step {
//        display: none;
//    }
//}


.section-title {
  margin-bottom: 3rem;
  text-align: center;
  span:first-child {
    display: block;
    color: $corporate-primary;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: 700;
  }
  span:nth-child(2) {
    color: $text;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
  }
  hr {
    @extend .mt-3;
    width: 20px;
    height: 1px;
    background-color: $corporate-primary;
    border: none;
  }
  &.white {
    span:first-child { color: #fff; }
    span:nth-child(2) { color: #fff; }
    hr { background-color: #fff; }
  }
}