.an-aside-nav {
  .an-header {
    padding-bottom: 20px;
    .an-logo {
      width: 200px;
      height: 50px;
    }
  }
  .an-nodes-container {
    a.an-node-btn-collapse {
      text-transform: uppercase;
    }
    a {
      color: black;
    }
    .an-node-list-container{
      .an-node-list {
        background-color: #f4f4fe;
        border: none;
        display: block;
        .an-node-link-container {
          .an-node-link {
            border: none;
          }
          .active {
            color: #00cccc;
            background-color: #f4f4fe;
            font-weight: bold;
            border-left:3px solid;
          }
        }
      }
    }
  }
}