<div class="color-container tab-pane fade" id="colors" role="tabpanel" aria-labelledby="colors-tab">
  <h1>Colors</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, asperiores, corporis distinctio dolore dolorum, error ipsa molestias nesciunt nulla perferendis ratione repellat sed sequi tenetur ut vero voluptate. Quas, rem?</p>
  <div class="row">
    <div class="col-sm-3">
      <h2>Corporate</h2>
      <div class="color-panel corporate-primary-bckg"></div>
      <span>corporate-primary-bckg for background <br> corporate-primary for color <br> #00CCCC</span>
    </div>
    <div class="col-sm-3">
      <h2>Pro</h2>
      <div class="color-panel pro-primary-bckg"></div>
      <span>pro-primary-bckg for background <br> pro-primary for color <br> #2669D5</span>
    </div>
    <div class="col-sm-3">
      <h2>Gift</h2>
      <div class="color-panel gift-primary-bckg"></div>
      <span>gift-primary-bckg for background <br> gift-primary for color <br> #FF6666</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h2>Order</h2>
      <div class="color-panel order-waiting-bckg"></div>
      <span>order-waiting-bckg for background <br> order-waiting for color <br> #FBD644</span>
      <div class="color-panel order-confirmed-bckg"></div>
      <span>order-confirmed-bckg for background <br> order-confirmed for color <br> #00CCCC</span>
    </div>
  </div>
</div>