<div class="color-container s-container tab-pane fade" id="colors" role="tabpanel" aria-labelledby="colors-tab">
  <div class="row">
    <h1>Colors</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, asperiores, corporis distinctio dolore dolorum, error ipsa molestias nesciunt nulla perferendis ratione repellat sed sequi tenetur ut vero voluptate. Quas, rem?</p>
    <div class="col-sm-12">
      <h2>Site colors</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Corporate</h3>
      <div class="color-panel corporate-primary-bckg"></div>
      <span class="text-color">corporate-primary-bckg for background <br> corporate-primary for color <br> #00CCCC</span>
      <div class="color-panel corporate-secondary-bckg"></div>
      <span class="text-color">corporate-secondary-bckg for background <br> corporate-secondary for color <br> #00A1A1</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Pro</h3>
      <div class="color-panel pro-primary-bckg"></div>
      <span class="text-color">pro-primary-bckg for background <br> pro-primary for color <br> #2669D5</span>
      <div class="color-panel pro-secondary-bckg"></div>
      <span class="text-color">pro-secondary-bckg for background <br> pro-secondary for color <br> #2159B3</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Gift</h3>
      <div class="color-panel gift-primary-bckg"></div>
      <span class="text-color">gift-primary-bckg for background <br> gift-primary for color <br> #FF6666</span>
      <div class="color-panel gift-secondary-bckg"></div>
      <span class="text-color">gift-secondary-bckg for background <br> gift-secondary for color <br> #E55C5C</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Order</h3>
      <div class="color-panel order-waiting-bckg"></div>
      <span class="text-color">order-waiting-bckg for background <br> order-waiting for color <br> #FBD644</span>
      <div class="color-panel order-confirmed-bckg"></div>
      <span class="text-color">order-confirmed-bckg for background <br> order-confirmed for color <br> #00CCCC</span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <h2>Other colors</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Greys</h3>
      <div class="color-panel sub-title-color-bckg"></div>
      <span class="text-color">$sub-title<br> #505050</span>
      <div class="color-panel text-color-bckg"></div>
      <span class="text-color">$text<br> #868E96</span>
    </div>
  </div>
</div>