<div class="tab-pane fade" id="layouts" role="tabpanel" aria-labelledby="layouts-tab">
  <h1>Layouts</h1>
  <p>To structure our pages. We need some containers.</p>
  <h2>Container desktop</h2>
  <p>For desktop we have a container with 100px margin to the right and the left.</p>
  <div class=""></div>
  <div class="container-lg corporate-primary-bckg"></div>
  <div class="markdown-container">
    {% highlight html %}
      <div class="container-lg"></div>
    {% endhighlight %}
  </div>
  <h2>Container mobile</h2>
  <p>For mobile we have a container with 20px margin to the right and the left. We have the same layouts for tablets.</p>
  <div class="container-sm corporate-primary-bckg"></div>
</div>