<div class="tab-pane s-container fade" id="spacings" role="tabpanel" aria-labelledby="spacings-tab">
  <h1>Spacings</h1>
  <p>For spacing, we have established a basic rule starting from the font-size of the text.</p>
  <p>If the text have 16px of font-size, the spacing with h2 is 16px and the spacing into h2 and h1 is 32px. It is a multiple of 16.</p>
  <h2>Examples</h2>
  <hr>
  <h1>Title example</h1>
  <h2>Sub-title example</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur commodi ea, explicabo labore minus non quam quisquam quo, ratione saepe sapiente sed sunt velit voluptatibus voluptatum. Deserunt, voluptas.</p>
  <img class="img-in-text" src="../../../assets/img/background_header.jpg" alt="img-test">
</div>