<div class="tab-pane s-container fade show active" id="typography" role="tabpanel" aria-labelledby="typography-tab">
  <h1>Typography</h1>
  <p>we selected two typographies. One for the titles and one for the text paragraphs.</p>
  <div class="markdown-container">
    <h2>Titles</h2>
    <hr>
    <h1>H1 example</h1>
    <h2>H2 example</h2>
    <h3>H3 Example</h3>
    <h2>Texts</h2>
    <hr>
    <p>Text example</p>
    <h2>In a true situation</h2>
    <hr>
    <h1>Welcome to my website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam at aut consectetur cum eos excepturi fuga illo laborum natus neque, nesciunt nisi nostrum omnis optio perspiciatis rem saepe voluptate!</p>
    <h2>First step</h2>
    <h3>The colors</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, dolorum eos in maiores minus ullam vero? Animi blanditiis consectetur expedita nam neque, numquam optio ratione recusandae repellendus reprehenderit sequi ullam!</p>
  </div>
</div>