<div class="tab-pane s-container fade" id="breadcrumb" role="tabpanel" aria-labelledby="breadcrumb-tab">
  <h1>Breadcrumb</h1>
  {% capture breadcrumb %}
  <div class="breadcrumb">
    <a href="#" class="color-text">crumb 1</a>
    <span><i class="fa fa-angle-right"></i></span>
    <a href="#" class="corporate-primary">crumb 2</a>
    <span><i class="fa fa-angle-right"></i></span>
    <a href="#" class="color-text">crumb 3</a>
  </div>
  {% endcapture %}
  {{ breadcrumb}}
  <div class="markdown-container">
    {% highlight html %}
    {{ breadcrumb}}
    {% endhighlight %}
  </div>
</div>