<div class="tab-pane s-container fade" id="buttons" role="tabpanel" aria-labelledby="buttons-tab">
    <h1>Skippair buttons</h1>


    <!--Basics Button-->
    <h2>Basics buttons</h2>
    <p>Utiliser <strong>.btn</strong> pour indiquer un bouton, vous pouvez préciser une couleur.</p>    

{% capture btn-basics %}
<button type="button" class="btn">Annuler</button>
<button type="button" class="btn btn-primary">Voir le récapitulatif</button>
<button type="button" class="btn btn-pro">Réserver</button>
<button type="button" class="btn btn-gift">Gift</button>
{% endcapture %}

    {{ btn-basics }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-basics }}{% endhighlight %}
    </div>


    <!--Outline Button-->
    <h2>Outline buttons</h2>
    <p>Ajouter la classe <strong>.btn-outline</strong> pour en enlever le background.</p>    

{% capture btn-outline %}
<button type="button" class="btn btn-outline">Annuler</button>
<button type="button" class="btn btn-outline btn-primary">Voir le récapitulatif</button>
<button type="button" class="btn btn-outline btn-pro">Réserver</button>
<button type="button" class="btn btn-outline btn-gift">Gift</button>
{% endcapture %}

    {{ btn-outline }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-outline }}{% endhighlight %}
    </div>


    <!--Icon Button-->
    <h2>Buttons with icons</h2>
    <p>Les bouton son aussi disponible avec des icones, utiliser <strong>.btn-group</strong>.</p>

{% capture btn-icon %}
<button class="btn btn-group btn-primary" type="button">
    <span class="text">Signer mon contrat</span>
    <span class="icon"><i class="fa fa-pencil"></i></span>
</button>
<button class="btn btn-group btn-facebook" type="button">
    <span class="text">Continuer avec facebook</span>
    <span class="icon"><i class="fa fa-facebook"></i></span>
</button>
{% endcapture %}

    {{ btn-icon }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-icon }}{% endhighlight %}
    </div>


    <!--Light Button-->
    <h2>Light button</h2>
    <p>Des bouton simplifier, sans background et sans border. Disponible avec des icons.</p>

{% capture btn-light %}
<button class="btn btn-light" type="button"><i class="fa fa-check"></i> Pré-approuver</button>
<button class="btn btn-light btn-primary" type="button"><i class="fa fa-check"></i> Pré-approuver</button>
<button class="btn btn-light btn-gift" type="button"><i class="fa fa-times"></i> Refuser</button>
<button class="btn btn-light btn-warning" type="button"><i class="fa fa-pencil"></i> Modifier</button>
{% endcapture %}

    {{ btn-light }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-light }}{% endhighlight %}
    </div>


    <!--Size of Button-->
    <h2>Size</h2>
    <p>Vous pouvez changer la taille avec <strong>.small</strong> ou <strong>.large</strong></p>

{% capture btn-size %}
<div>
    <button type="button" class="btn btn-primary small">Voir le récapitulatif</button>
    <button type="button" class="btn btn-primary">Voir le récapitulatif</button>
    <button type="button" class="btn btn-primary large">Voir le récapitulatif</button>
</div>
<div>
    <button type="button" class="btn btn-outline btn-primary small">Voir le récapitulatif</button>
    <button type="button" class="btn btn-outline btn-primary">Voir le récapitulatif</button>
    <button type="button" class="btn btn-outline btn-primary large">Voir le récapitulatif</button>
</div>
<div>
    <button type="button" class="btn btn-light btn-primary small">Voir le récapitulatif</button>
    <button type="button" class="btn btn-light btn-primary">Voir le récapitulatif</button>
    <button type="button" class="btn btn-light btn-primary large">Voir le récapitulatif</button>
</div>
{% endcapture %}

    {{ btn-size }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-size }}{% endhighlight %}
    </div>


    <!--Block Button-->
    <h2>Bouton en Block</h2>
    <p>Une option pour forcer le display-block des boutons est disponible. Utiliser <strong>.btn-block</strong></p>

{% capture btn-size %}
<button type="button" class="btn btn-block btn-primary">Voir le récapitulatif</button>
<button type="button" class="btn btn-block btn-gift">Gift</button>
<button class="btn btn-group btn-block btn-facebook" type="button">
    <span class="text">Continuer avec facebook</span>
    <span class="icon"><i class="fa fa-facebook"></i></span>
</button>
{% endcapture %}

    {{ btn-size }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ btn-size }}{% endhighlight %}
    </div>
</div>