<div class="tab-pane s-container fade" id="buttons" role="tabpanel" aria-labelledby="buttons-tab">
  <h1>Buttons</h1>
  <p>We have 3 types of buttons with active and not active states</p>
  <h2>Button validation</h2>
  <button class="btn-big btn-validate">Voir le récapitulatif</button>
  <button class="btn-big btn-validate-disabled">Voir le récapitulatif</button>
  <h2>Button with action</h2>
  <button class="btn-big btn-action">Signer mon contrat <i class="fa fa-pencil"></i></button>
  <button class="btn-big btn-action-disabled">Signer mon contrat <i class="fa fa-pencil"></i></button>
  <h2>Button to return on previouss context</h2>
  <button class="btn-light btn-return">Retour</button>
  <div class="markdown-container">
    {% highlight html %}

    {% endhighlight %}
  </div>
</div>