<div class="tab-pane s-container fade" id="cards" role="tabpanel" aria-labelledby="cards-tab">
  <h1>Cards</h1>
  <h2>Contact Cards</h2>
  <div class="contact-card">
    <div class="avatars-description">
      <div class="avatar-chips-rounded" style="background-image: url('https://ekoczera.wikispaces.com/file/view/seacaptain.jpg/282828784/370x331/seacaptain.jpg')">
        <div class="chips-work">
          <i class="fa fa-anchor pro-primary"></i>
        </div>
      </div>
      <div class="description">
        <p><span class="name corporate-primary">Username</span></p>
        <p><i class="fa fa-map-marker"></i>Port de hendaye</p>
      </div>
      <div class="infos">
        <p><i class="fa fa-phone corporate-primary"></i> 06 65 98 78 45</p>
        <p><i class="fa fa-envelope-o corporate-primary"></i> jean.hubert@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="markdown-container">
    {% highlight html %}
    <div class="contact-card">
      <div class="avatars-description">
        <div class="avatar-chips-rounded" style="background-image: url('https://ekoczera.wikispaces.com/file/view/seacaptain.jpg/282828784/370x331/seacaptain.jpg')">
          <div class="chips-work">
            <i class="fa fa-anchor pro-primary"></i>
          </div>
        </div>
        <div class="description">
          <p><span class="name corporate-primary">Username</span></p>
          <p><i class="fa fa-map-marker"></i>Port de hendaye</p>
        </div>
        <div class="infos">
          <p><i class="fa fa-phone corporate-primary"></i> 06 65 98 78 45</p>
          <p><i class="fa fa-envelope-o corporate-primary"></i> jean.hubert@gmail.com</p>
        </div>
      </div>
    </div>
    {% endhighlight %}
  </div>
  <h2>Order cards</h2>
</div>