{% capture component %}
<div class="dropdown form-radio--dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="text-button">Tous type de bateaux</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <label>
                Tous type de bateaux
                <input type="radio" name="input-name" value="0" data-label="Tous type de bateaux" data-default='true'>
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="input-name" value="2" checked data-label="Monocoque">
                Monocoque
            </label>
        </li>
        <li>
            <label>
                <input type="radio" name="input-name" value="1" data-label="Catamaran">
                Catamaran
            </label>
        </li>
    </ul>
</div>
{% endcapture %}

<div class="tab-pane s-container fade" id="checkbox-dropdown" role="tabpanel" aria-labelledby="states-tab">
    <h1>Search Inputs</h1>

    <h2>Checkbox in a dropdown</h2>

    {{ component }}    

    <div class="markdown-container">
        {% highlight html linenos %}{{ component }}{% endhighlight %}
    </div>
</div>
