<div class="tab-pane s-container fade" id="checklists" role="tabpanel" aria-labelledby="checklists-tab">
  <h1>Checklists</h1>
  <p></p>
  <h2>Check list</h2>
  <div class="checked-list-container">
    <p class="checked-list-title">Inclus</p>
    <ul class="fa-ul checked-list-icons">
      <li><i class="fa-li fa fa-check"></i><p>Hébergement sur le voilier</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Services du skipper professionnel</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Annexe motorisée</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Nettoyage</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Literie</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Gasoil</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Nourriture / Boissons (skipper inclus)</p></li>
      <li><i class="fa-li fa fa-check"></i><p>Services d’hôtesse</p></li>
    </ul>
    <div class="markdown-container">
      {% highlight html %}
      <div class="checked-list-container">
        <p class="checked-list-title">Inclus</p>
        <ul class="fa-ul checked-list-icons">
          <li><i class="fa-li fa fa-check"></i><p>Item 1</p></li>
          <li><i class="fa-li fa fa-check"></i><p>Item 2</p></li>
          <li><i class="fa-li fa fa-check"></i><p>Item 3</p></li>
        </ul>
      </div>
      {% endhighlight %}
    </div>
    <p class="checked-list-title">Non inclus</p>
    <ul class="fa-ul checked-list-icons">
      <li><i class="fa-li fa fa-ban"></i><p>Transport jusqu’au lieu de rendez-vous</p></li>
      <li><i class="fa-li fa fa-ban"></i><p>Restaurants ou activités facultatives</p></li>
      <li><i class="fa-li fa fa-ban"></i><p>Frais de port</p></li>
    </ul>
    <div class="markdown-container">
      {% highlight html %}
      <div class="checked-list-container">
        <p class="checked-list-title">Non inclus</p>
        <ul class="fa-ul checked-list-icons">
          <li><i class="fa-li fa fa-ban"></i><p>Item 1</p></li>
          <li><i class="fa-li fa fa-ban"></i><p>Item 2</p></li>
          <li><i class="fa-li fa fa-ban"></i><p>Item 3</p></li>
        </ul>
      </div>
      {% endhighlight %}
    </div>
    <p class="checked-list-title">Pensez à bien mettre dans votre valise...</p>
    <ul class="checked-list">
      <li><p>Transport jusqu’au lieu de rendez-vous</p></li>
      <li><p>Restaurants ou activités facultatives</p></li>
      <li><p>Frais de port</p></li>
    </ul>
    <div class="markdown-container">
      {% highlight html %}
      <div class="checked-list-container">
        <p class="checked-list-title">Pensez à bien mettre dans votre valise...</p>
        <ul class="checked-list">
          <li><p>Item 1</p></li>
          <li><p>Item 2<p></li>
          <li><p>Item 3</p></li>
        </ul>
      </div>
      {% endhighlight %}
    </div>
    <p class="checked-list-title">Pensez à bien mettre dans votre valise...</p>
    <ul class="checked-list">
      <li>Cadre de couverture</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere obcaecati similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
      <li>Montant des couvertures</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere <obcaecati></obcaecati> similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
      <li>Bénéficiaires</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere obcaecati similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
    </ul>
  </div>
  <div class="markdown-container">
    {% highlight html %}
    <div class="checked-list-container">
      <p class="checked-list-title">Pensez à bien mettre dans votre valise...</p>
      <ul class="checked-list">
        <li>Your title</li>
        <p>Your text<p>
        <li>Your title</li>
        <p>Your Text<p>
        <li>Your title</li>
        <p>Your text</p>
      </ul>
    </div>
    {% endhighlight %}
  </div>
</div>