<div class="tab-pane s-container fade" id="checklists" role="tabpanel" aria-labelledby="checklists-tab">
    <h1>Checklists</h1>


    <h2>Check list sans Icon.</h2>

    <p>Vous devez utiliser la class <strong>.li-text</strong> pour avoir un couleur différente sur les points.</p>

{% capture checklist %}
<ul class="checklist">
    <li><span class="li-text">Hébergement sur le voilier</span></li>
    <li><span class="li-text">Services du skipper professionnel</span></li>
    <li><span class="li-text">Annexe motorisée Annexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motorisée</span></li>
</ul>
<ul class="checklist color-primary">
    <li><span class="li-text">Hébergement sur le voilier</span></li>
    <li><span class="li-text">Services du skipper professionnel</span></li>
    <li><span class="li-text">Annexe motorisée Annexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motorisée</span></li>
</ul>
{% endcapture %}

    {{ checklist }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ checklist }}{% endhighlight %}
    </div>


    <h2>Check list avec Icon.</h2>

{% capture checklist %}
<ul class="checklist-icon">
    <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-bug"></i>Services du skipper professionnel</li>
    <li><i class="fa fa-ban"></i>Annexe motorisée Annexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motorisée</li>
</ul>
<ul class="checklist-icon color-primary">
    <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-bug"></i>Services du skipper professionnel</li>
    <li><i class="fa fa-ban"></i>Annexe motorisée Annexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motoriséeAnnexe motorisée</li>
</ul>
{% endcapture %}

    {{ checklist }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ checklist }}{% endhighlight %}
    </div>


    <h2>Couleur</h2>

{% capture checklist %}
<ul class="checklist-icon color-primary">
    <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-check"></i>Services du skipper professionnel</li>
</ul>
<ul class="checklist-icon color-info">
    <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-check"></i>Services du skipper professionnel</li>
</ul>
<ul class="checklist-icon color-warning">
    <li><i class="fa fa-bug"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-bug"></i>Services du skipper professionnel</li>
</ul>
<ul class="checklist-icon color-error">
    <li><i class="fa fa-ban"></i>Hébergement sur le voilier</li>
    <li><i class="fa fa-ban"></i>Services du skipper professionnel</li>
</ul>
{% endcapture %}

    {{ checklist }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ checklist }}{% endhighlight %}
    </div>


    <h2>Check list avec paragraphe</h2>

{% capture checklist %}
<ul class="checklist-icon color-primary">
    <li>
        <div class="li-title"><i class="fa fa-check"></i>Hébergement sur le voilier</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere obcaecati similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
    </li>
    <li>
        <div class="li-title"><i class="fa fa-check"></i>Hébergement sur le voilier</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere obcaecati similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
    </li>
    <li>
        <div class="li-title"><i class="fa fa-check"></i>Hébergement sur le voilier</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere obcaecati similique! Amet atque dicta eaque illum iure laboriosam laudantium maxime molestiae nisi nostrum numquam officiis possimus quae, ullam voluptatem.</p>
    </li>
</ul>
{% endcapture %}

    {{ checklist }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ checklist }}{% endhighlight %}
    </div>
</div>