<div class="tab-pane s-container fade" id="collapse" role="tabpanel" aria-labelledby="collapse-tab">
  <h1>Collapse</h1>
  <h2>Link to know more</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis eius eum hic iste laudantium libero, nemo neque nulla perferendis quisquam totam! Adipisci doloremque iusto optio perferendis quibusdam quo vitae?
    <a href="#know-more-content-1" class="know-more-link collapsed corporate-primary" data-toggle="collapse" aria-expanded="false" aria-controls="know-more" title="En savoir plus..."></a>
  </p>
  <div class="know-more-content collapse" id="know-more-content-1">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
  </div>
  <br>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis eius eum hic iste laudantium libero, nemo neque nulla perferendis quisquam totam! Adipisci doloremque iusto optio perferendis quibusdam quo vitae?
    <a href="#know-more-content-2" class="know-more-link collapsed corporate-primary" data-toggle="collapse" aria-expanded="false" aria-controls="know-more" title="En savoir plus..."></a>
  </p>
  <div class="know-more-content collapse" id="know-more-content-2">
    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
  </div>
  <div class="markdown-container">
    {% highlight html %}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis eius eum hic iste laudantium libero, nemo neque nulla perferendis quisquam totam! Adipisci doloremque iusto optio perferendis quibusdam quo vitae?
      <a href="#know-more-content-1" class="know-more-link collapsed corporate-primary" data-toggle="collapse" aria-expanded="false" aria-controls="know-more" title="En savoir plus..."></a>
    </p>
    <div class="know-more-content collapse" id="know-more-content-1">
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
    {% endhighlight %}
  </div>
</div>