<div class="tab-pane s-container fade" id="forms" role="tabpanel" aria-labelledby="forms-tab">
  <h1>Forms</h1>
  <p></p>
    <form>
      <div class="text-field-group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
      </div>
      <div class="text-field-group">
        <input type="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
      <button role="button" type="submit" class="s-btn btn-big btn-validate">S'inscrire</button>
    </form>
  <div class="markdown-container">
    {% highlight html %}
    <form>
      <div class="text-field-group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
      </div>
      <div class="text-field-group">
        <input type="email" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
      </div>
      <button role="button" type="submit" class="s-btn btn-big btn-validate">S'inscrire</button>
    </form>
    {% endhighlight %}
  </div>
</div>