<div class="tab-pane s-container fade" id="icon-list" role="tabpanel" aria-labelledby="icon-list-tab">
    <h1>Icons List</h1>
    <p>Icons List for Activity Product Page</p>
    <h2>Icon List Activity Tags</h2>

    {% capture component %}
    <!-- #ICONS-LIST-->
    <!-- MAX 6 Items -->
    <div class="activity-tags">
        <ul class="activity-tags-list">
            <li class="item">
                <i class="icon fa fa-anchor" aria-hidden="true"></i>
                <span class="item-label">Label Label Label</span>
            </li>
            <li class="item">
                <i class="icon fa fa-anchor" aria-hidden="true"></i>
                <span class="item-label">Label Label Label</span>
            </li>
            <li class="item">
                <i class="icon fa fa-anchor" aria-hidden="true"></i>
                <span class="item-label">Label Label Label</span>
            </li>
            <li class="item">
                <i class="icon fa fa-anchor" aria-hidden="true"></i>
                <span class="item-label">Label Label Label</span>
            </li>
            <li class="item">
                <i class="icon fa fa-anchor" aria-hidden="true"></i>
                <span class="item-label">Label Label Label</span>
            </li>
        </ul>
    </div>
    {% endcapture %}

    {{ component }}

    <div class="markdown-container">
        {% highlight html %}
            {{ component }}
        {% endhighlight %}
    </div>

</div>
