<div class="tab-pane s-container fade" id="inputs" role="tabpanel" aria-labelledby="inputs-tab">
  <h1>Inputs</h1>
  <h2>Checkbox</h2>
  <div class="control-group">
    <label class="control control--checkbox">First checkbox
      <input type="checkbox" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--checkbox">Second checkbox
      <input type="checkbox"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--checkbox">Disabled
      <input type="checkbox" disabled="disabled"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--checkbox">Disabled & checked
      <input type="checkbox" disabled="disabled" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
  </div>
  <h2>Radio</h2>
  <div class="control-group">
    <label class="control control--radio">First radio
      <input type="radio" name="radio" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--radio">Second radio
      <input type="radio" name="radio"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--radio">Disabled
      <input type="radio" name="radio2" disabled="disabled"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control--radio">Disabled & checked
      <input type="radio" name="radio2" disabled="disabled" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
  </div>
  <h2>Select</h2>
  <div class="control-group">
    <div class="select">
      <select>
        <option>First select</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select-arrow"></div>
    </div>
    <div class="select">
      <select>
        <option>Second select</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select-arrow"></div>
    </div>
    <div class="select">
      <select disabled="disabled">
        <option>Disabled</option>
        <option>Option</option>
        <option>Option</option>
      </select>
      <div class="select-arrow"></div>
    </div>
  </div>
  <div class="markdown-container">
    {% highlight html %}
    {% endhighlight %}
  </div>
</div>