<div class="tab-pane s-container fade active show" id="messages" role="tabpanel" aria-labelledby="buttons-tab">
    <h1>Conversations</h1>

    <p>Gestion d'affichage des conversation.</p>

{% capture table %}
<a href="#" class="message-cards">
    <img class="user-img" src="https://media.skippair.com/media/cache/fb/40/fb4013a1d1d21621ad5ef47740b5f38d.jpg">
    <div class="time">15:05</div>
    <div class="message-detail">
        <div class="title">Thibault Schultz<span class="flag-new">Nouveau</span></div>
        <div class="content">
            <span>Lorem ipsum De nombreux utils sont disponible pour les tables de bootstrap, allez voir, De nombreux utils sont disponible pour les tables de bootstrap, allez voir</span>
        </div>
        <div class="status warning"><i class="fa fa-circle-thin"></i> En attente de votre réponse</div>
    </div>    
</a>

<a href="#" class="message-cards">
    <img class="user-img" src="https://media.skippair.com/media/cache/fb/40/fb4013a1d1d21621ad5ef47740b5f38d.jpg">
    <div class="time">15:05</div>
    <div class="message-detail">
        <div class="title">Thibault Schultz<span class="flag-new">Nouveau</span></div>
        <div class="content">
            <span>Lorem ipsum De nombreux utils sont disponible pour les tables de bootstrap, allez voir, De nombreux utils sont disponible pour les tables de bootstrap, allez voir</span>
        </div>
        <div class="status warning"><i class="fa fa-circle-thin"></i> En attente de votre réponse</div>
    </div>    
</a>
{% endcapture %}
    
    <h2>Exemple classique</h2>

    <p>Les cards s'empile correctement, pas de marge à l'extérieur.</p>

    {{ table }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ table }}{% endhighlight %}
    </div>

{% capture table %}
<a href="#" class="message-cards">
    <img class="user-img" src="https://media.skippair.com/media/cache/fb/40/fb4013a1d1d21621ad5ef47740b5f38d.jpg">
    <div class="time">15:05</div>
    <div class="message-detail">
        <div class="title">Thibault Schultz</div>
        <div class="content">
            <span>Lorem ipsum De nombreux utils sont disponible pour les tables de bootstrap, allez voir, De nombreux utils sont disponible pour les tables de bootstrap, allez voir</span>
        </div>
        <div class="status info"><i class="fa fa-circle-thin"></i> Pré-approuvé</div>
    </div>    
</a>

<a href="#" class="message-cards">
    <img class="user-img" src="https://media.skippair.com/media/cache/fb/40/fb4013a1d1d21621ad5ef47740b5f38d.jpg">
    <div class="time">15:05</div>
    <div class="message-detail">
        <div class="title">Thibault Schultz</div>
        <div class="content">
            <span>Lorem ipsum De nombreux utils sont disponible pour les tables de bootstrap, allez voir, De nombreux utils sont disponible pour les tables de bootstrap, allez voir</span>
        </div>
        <div class="status warning"><i class="fa fa-circle-thin"></i> En attenre de validation</div>
    </div>    
</a>

<a href="#" class="message-cards">
    <img class="user-img" src="https://media.skippair.com/media/cache/fb/40/fb4013a1d1d21621ad5ef47740b5f38d.jpg">
    <div class="time">15:05</div>
    <div class="message-detail">
        <div class="title">Thibault Schultz</div>
        <div class="content">
            <span>Lorem ipsum De nombreux utils sont disponible pour les tables de bootstrap, allez voir, De nombreux utils sont disponible pour les tables de bootstrap, allez voir</span>
        </div>
        <div class="status error"><i class="fa fa-circle-thin"></i> Refusé</div>
    </div>    
</a>
{% endcapture %}
    
    <h2>Gestion des status.</h2>

    <p>Trois class sont disponible pour gérer la couleur du status. <strong>.info</strong> <strong>.warning</strong> <strong>.error</strong></p>

    {{ table }}
    <div class="markdown-container">
        {% highlight html linenos %}{{ table }}{% endhighlight %}
    </div>
</div>