<div class="tab-pane s-container fade" id="navbar" role="tabpanel" aria-labelledby="navbar-tab">
  <h1>Navbar</h1>
  <p>We have an exhaustive list of links regrouped in a navbar.</p>
  <p>To fixed the navbar on the top of the screen add class "fixed-top" in the main-navbar element.</p>
  <nav class="navbar main-navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="navbar-logo" src="../../../assets/img/logo_skippair.png"></a>
    <a href="" class="link-mobile link-search"><i class="fa fa-search"></i></a>
    <a href="" class="link-mobile link-phone"><i class="fa fa-phone"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item navbar-links">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item navbar-links">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item navbar-links">
          <a class="nav-link" href="#">Link 3</a>
        </li>
        <li class="nav-item navbar-links">
          <a class="nav-link" href="#">Link 4</a>
        </li>
        <!-- if user not connected display this-->
        <!-- <a class="nav-link" href="#"><i class="fa fa-user-o"></i> Se connecter</a>-->

        <!--if user is connected display this-->
        <li class="nav-item navbar-link-account dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i> User
          </a>
          <div class="dropdown-menu dropdown-account" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mon profil</a>
            <a class="dropdown-item" href="#">Mes voyages</a>
            <a class="dropdown-item" href="#">Mes messages</a>
            <a class="dropdown-item" href="#">Mes favoris</a>
            <a class="dropdown-item" href="#">Se déconnecter</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="markdown-container">
    <br>
    {% highlight html %}
    <nav class="navbar main-navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img class="navbar-logo" src=""></a>
      <a href="" class="link-mobile link-search"><i class="fa fa-search"></i></a>
      <a href="" class="link-mobile link-phone"><i class="fa fa-phone"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item navbar-links">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item navbar-links">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item navbar-links">
            <a class="nav-link" href="#">Link 3</a>
          </li>
          <li class="nav-item navbar-links">
            <a class="nav-link" href="#">Link 4</a>
          </li>
          <!-- if user not connected display this-->
          <!-- <a class="nav-link" href="#"><i class="fa fa-user-o"></i> Se connecter</a>-->

          <!--if user is connected display this-->
          <li class="nav-item navbar-link-account dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle-o"></i> User
            </a>
            <div class="dropdown-menu dropdown-account" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Mon profil</a>
              <a class="dropdown-item" href="#">Mes voyages</a>
              <a class="dropdown-item" href="#">Mes messages</a>
              <a class="dropdown-item" href="#">Mes favoris</a>
              <a class="dropdown-item" href="#">Se déconnecter</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% endhighlight %}
  </div>
</div>