<div class="tab-pane s-container fade active show" id="order-detail-panel" role="tabpanel" aria-labelledby="states-tab">
    <h1>Order detail panel</h1>
   
    <p>
        Utiliser des div pour encadrer chaqu'une de vos section. Les margin des H3 et p on été supprimer.
        <br>
        Utiliez <strong>.amended</strong> pour indiquer les éléments qui ont été modifier.
    </p>

    <h2>Pannel pour les messages de l'interface pro.</h2>

{% capture order_detail %}
<div style="width: 304px;">
    <div class="order-detail-panel grey-frame">
        <div>
            <h3>Croisière en voilier à Corfou</h3>
            <p><i class="fa fa-map-marker"></i> Port de Gouvia</p>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Départ</h3>
                <p class="amended">27/07/2018</p>
            </div>
            <div class="col-5">
                <h3>Arrivée</h3>
                <p class="amended">27/07/2018</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Bateau</h3>
            </div>
            <div class="col-5">
                <p>Sunfast 38</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Nombre de voyageurs</h3>
            </div>
            <div class="col-5">
                <p class="amended">6</p>
            </div>
        </div>
        <div class="big-info">
            <span class="title"><h3>Prix</h3></span>
            <span class="info float-right text-color">2000€</span>
        </div>
        <div>
            <h3>Mes options</h3>
            <ul class="checklist color-primary">
                <li><span class="li-text">Une hotesse à bord, vous préparant les repas</span></li>
            </ul>
        </div>
        <div>
            <h3>Inclus</h3>
            <ul class="checklist-icon color-primary">
                <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
                <li><i class="fa fa-check"></i>Services du skipper professionnel</li>
                <li><i class="fa fa-check"></i>Annexe motorisée</li>
                <li><i class="fa fa-check"></i>Nettoyage</li>
                <li><i class="fa fa-check"></i>Literie</li>
            </ul>
        </div>
        <div>
            <h3>Non inclus</h3>
            <ul class="checklist-icon color-error">
                <li><i class="fa fa-ban"></i>Transport jusqu'au lieu de rdv</li>
                <li><i class="fa fa-ban"></i>Frais de port</li>
            </ul>
        </div>
    </div>  
</div>
{% endcapture %}
    
    {{ order_detail }}

    <div class="markdown-container">
        {% highlight html linenos %}{{ order_detail }}{% endhighlight %}
    </div>

    <h2>Pannel pour le process de vente.</h2>

{% capture order_detail %}
<div style="width: 304px;">
    <div class="order-detail-panel grey-frame">
        <div class="row">
            <div class="col-7">
                <h3>Port d'embarquement</h3>
            </div>
            <div class="col-5">
                <p>Hendayes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Bateau</h3>
            </div>
            <div class="col-5">
                <p>Sunfast 38</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Départ</h3>
                <p>27/07/2018</p>
            </div>
            <div class="col-5">
                <h3>Arrivée</h3>
                <p>27/07/2018</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <h3>Nombre de voyageurs</h3>
            </div>
            <div class="col-5">
                <p>6</p>
            </div>
        </div>
        <div>
            <h3>Mes options</h3>
            <ul class="checklist color-primary">
                <li>
                    <span class="li-text">
                        Une hotesse à bord, vous préparant les repas.
                        <br><span class="tarif">Tarif :</span> 10€/bateau/jour
                    </span>
                </li>
            </ul>
        </div>
        <div class="big-info">
            <span class="title"><h3>Prix</h3></span>
            <span class="info float-right text-color">2000€</span>
        </div>
        <div>
            <h3>Inclus</h3>
            <ul class="checklist-icon color-primary">
                <li><i class="fa fa-check"></i>Hébergement sur le voilier</li>
                <li><i class="fa fa-check"></i>Services du skipper professionnel</li>
                <li><i class="fa fa-check"></i>Annexe motorisée</li>
                <li><i class="fa fa-check"></i>Nettoyage</li>
                <li><i class="fa fa-check"></i>Literie</li>
            </ul>
        </div>
        <div>
            <h3>Non inclus</h3>
            <ul class="checklist-icon color-error">
                <li><i class="fa fa-ban"></i>Transport jusqu'au lieu de rdv</li>
                <li><i class="fa fa-ban"></i>Frais de port</li>
            </ul>
        </div>
    </div>  
</div>
{% endcapture %}
    
    {{ order_detail }}

    <div class="markdown-container">
        {% highlight html linenos %}{{ order_detail }}{% endhighlight %}
    </div>
</div>
