<div class="tab-pane s-container fade" id="popups" role="tabpanel" aria-labelledby="popups-tab">
  <h1>Popups</h1>
  <p>To notify the user of the completion of his actions, we set up a system of popups that appear.</p>
  <button class="call-to-action-show" onclick="showPopup()">Connexion</button>
  <div class="popup">
    <div class="popup-icon">
      <i class="corporate-primary fa fa-user-circle-o"></i>
    </div>
    <div class="popup-text">
      <p>Bienvenue à bord <span class="corporate-primary">user</span>,</p>
      <a class="corporate-primary" href="">voir mon profil</a>
    </div>
    <div class="popup-close">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <script>
    function showPopup() {
      $(".popup").addClass("show");
    }
  </script>
  <div class="markdown-container">
    {% highlight html %}

    {% endhighlight %}
  </div>
</div>