<div class="tab-pane s-container fade" id="progressBar" role="tabpanel" aria-labelledby="progressBar-tab">
  <h1>Progress bar</h1>
  <h2>Progress bar with step title</h2>
  {% capture progressBarStep %}
  <h2 class="title-step"><span>Etape 1 de 2 : </span><span>Signature du contrat</span></h2>
  <div class="progress title-step-progress">
    <div class="progress-bar corporate-primary-bckg" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  {% endcapture %}
  {{ progressBarStep }}
  <h2 class="title-step"><span>Etape 2 de 2 : </span><span>Equipage et Assurance</span></h2>
  <div class="progress title-step-progress">
    <div class="progress-bar corporate-primary-bckg" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p>To modify the progress of the progress bar. Insert a percentage in style width (50% or 100% or 25% ...)</p>
  <div class="markdown-container">
    {% highlight html %}
    {{ progressBarStep }}
    {% endhighlight %}
  </div>
</div>