<div class="tab-pane s-container fade" id="states" role="tabpanel" aria-labelledby="states-tab">
  <h1>States</h1>
  <p></p>
  <h2>States order</h2>
  <p class="order-confirmed states-text"><i class="fa fa-circle"></i> Le skipper a confirmé</p>
  <p class="order-waiting states-text"><i class="fa fa-circle-thin"></i> En attente de la réponse du skipper</p>
  <div class="markdown-container">
    {% highlight html %}
    <p class="order-confirmed states-text"><i class="fa fa-circle"></i> Le skipper a confirmé</p>
    <p class="order-waiting states-text"><i class="fa fa-circle-thin"></i> En attente de la réponse du skipper</p>
    {% endhighlight %}
  </div>
</div>