{% capture subnavLinks_client %}
<nav class="subnav-links client">
    <ul class="navbar-nav">
        <li class="nav-item navbar-link active"><a href="#" class="nav-link"><i class="fa fa-user"></i><span class='text'>Mon profil</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-suitcase"></i><span class='text'>Mes voyages</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-comments"></i><span class='text'>Mes messages</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-heart"></i><span class='text'>Mes favoris</span></a></li>
    </ul>
</nav>
{% endcapture %}

{% capture subnavLinks_pro %}
<nav class="subnav-links pro">
    <ul class="navbar-nav">
        <li class="nav-item navbar-link active"><a href="#" class="nav-link"><i class="fa fa-th-large"></i><span class='text'>Résumé</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-comments"></i><span class='text'>Messages</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-calendar"></i><span class='text'>Calendrier</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-shopping-cart"></i><span class='text'>Réservations</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-bookmark"></i><span class='text'>Offres</span></a></li>
        <li class="nav-item navbar-link"><a href="#" class="nav-link"><i class="fa fa-building"></i><span class='text'>Entreprise</span></a></li>
    </ul>
</nav>
{% endcapture %}

<div class="tab-pane s-container fade active show" id="subnav" role="tabpanel" aria-labelledby="states-tab">
    <h1>SubNav</h1>
    <h2>SubNav for client account</h2>
    
    {{ subnavLinks_client }}

    <div class="markdown-container">
        {% highlight html linenos %}{{ subnavLinks_client }}{% endhighlight %}
    </div>

    <h2>SubNav Pro account</h2>
    
    {{ subnavLinks_pro }}

    <div class="markdown-container">
        {% highlight html linenos %}{{ subnavLinks_pro }}{% endhighlight %}
    </div>
</div>
