//desktop
$xl: 1200px;
$lg: 992px;

//tablets
$md: 720px;

//phones
$sm: 540px;

//examples
//  for large desktops
//@media (min-width: $xl) {
//  .mycontent {
//    display: block;
//  }
//}
//  for tablets desktops
//@media (min-width: $md) {
//  .mycontent {
//    display: block;
//  }
//}