//Corporate colors
$corporate-primary: #00CCCC;
$corporate-secondary: #00A1A1;
$corporate-lighter: #bfeded;

//Pro colors
$pro-primary: #2669D5;
$pro-secondary: #2159B3;
$pro-med-lighter: #3f79d5;
$pro-lighter: #89a6e4;

//Gift colors
$gift-primary: #FF6666;
$gift-secondary: #E55C5C;

//Order colors
$order-waiting: #eecd4b;

// Status color
$info-color: #2669D5;
$warning-color: #e6c300;
$warning-color-hover: #eecd4b;
$error-color: #FF6666;

//facebook colors
$facebook-primary : #3b5998;
$facebook-secondary: #2e477c;

//Paragraph color
$text: #868E96;

//sub-title color
$sub-title: #505050;

//Background white
$color-white1: #ffffff;

// Text on image
.text-img-color {
  color: $color-white1;
}
//Text-color
.text-color {
  color: $text!important;
}
$text-hover: black;


// Call me:
$call-me: $gift-primary;


// borders color
// ** IMPORTANT** We must determinate for what context we have a specific grey
$color-grey1: #E6E6E6;
$color-grey2: #868e96;
$color-grey3: #f5f5f5;
$color-grey4: #dce0e0;
$color-grey5: #444;
$color-grey6: #282828;

$color-yellow1: #f9de47;
$color-yellow2: #e3ca41;

$color-lightblack: #444;

// ** IMPORTANT **
//BACKGROUNDS
.grey-bckg {
  background-color: $color-grey3;
}
//  Status--------------------
.order-waiting-bckg {
  background-color: $order-waiting;
}
.order-confirmed-bckg {

  background-color: $corporate-primary;
}
//  Primary----------------------
.corporate-primary-bckg {
  background-color: $corporate-primary;
}
.pro-primary-bckg {
  background-color: $pro-primary;
}
.gift-primary-bckg {
  background-color: $gift-primary;
}
//  Secondary----------------------
.corporate-secondary-bckg {
  background-color: $corporate-secondary;
}
.pro-secondary-bckg {
  background-color: $pro-secondary;
}
.gift-secondary-bckg {
  background-color: $gift-secondary;
}

// COLORS
//  Status
.order-waiting {
  color: $order-waiting;
}
.order-confirmed {
  color: $corporate-primary;
}
//  Primary------------------------
.corporate-primary {
  color: $corporate-primary;
}
.pro-primary {
  color: $pro-primary;
}
.gift-primary {
  color: $gift-primary;
}
//  Secondary-------------------------
.corporate-secondary {
  color: $corporate-secondary;
}
.pro-secondary {
  color: $pro-secondary;
}
.gift-secondary {
  color: $gift-secondary;
}
.color-white {
  color: $color-white1
}
.color-text {
  color: $text;
}

//TITLES COLORS
h1, .h1 {
  color: $corporate-primary;
}
h2, .h2 {
  color: $sub-title;
}
h3, p {
  color: $text;
}