//Corporate colors
$corporate-primary: #00CCCC;
$corporate-secondary: #00A1A1;

//Pro colors
$pro-primary: #2669D5;
$pro-secondary: #2159B3;

//Gift colors
$gift-primary: #FF6666;
$gift-secondary: #E55C5C;

//Order colors
$order-waiting: #FBD644;

//Paragraph color
$text: #868E96;

//sub-title color
$sub-title: #505050;

// Text on image
$text-img: #ffffff;
.text-img-color {
  color: $text-img;
}
//Text-color
.text-color {
  color: $text;
}
// borders color
$border-color-grey: #E6E6E6;

//BACKGROUNDS
//  Status--------------------
.order-waiting-bckg {
  background-color: $order-waiting;
}
.order-confirmed-bckg {

  background-color: $corporate-primary;
}
//  Primary----------------------
.corporate-primary-bckg {
  background-color: $corporate-primary;
}
.pro-primary-bckg {
  background-color: $pro-primary;
}
.gift-primary-bckg {
  background-color: $gift-primary;
}
//  Secondary----------------------
.corporate-secondary-bckg {
  background-color: $corporate-secondary;
}
.pro-secondary-bckg {
  background-color: $pro-secondary;
}
.gift-secondary-bckg {
  background-color: $gift-secondary;
}

// COLORS
//  Status
.order-waiting {
  color: $order-waiting;
}
.order-confirmed {
  color: $corporate-primary;
}
//  Primary------------------------
.corporate-primary {
  color: $corporate-primary;
}
.pro-primary {
  color: $pro-primary;
}
.gift-primary {
  color: $gift-primary;
}
//  Secondary-------------------------
.corporate-secondary {
  color: $corporate-secondary;
}
.pro-secondary {
  color: $pro-secondary;
}
.gift-secondary {
  color: $gift-secondary;
}