[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-boat:before {
  content: "\e92f";
}
.icomoon-reviews:before {
  content: "\e930";
}
.icomoon-info:before {
  content: "\e931";
}
.icomoon-travel:before {
  content: "\e932";
}
.icomoon-calendar:before {
  content: "\e92b";
}
.icomoon-newspaper:before {
  content: "\e92c";
}
.icomoon-people:before {
  content: "\e92d";
}
.icomoon-search:before {
  content: "\e92e";
}
.icomoon-map-refresh:before {
  content: "\e92a";
}
.icomoon-voilier:before {
  content: "\e901";
}
.icomoon-voile:before {
  content: "\e902";
}
.icomoon-user:before {
  content: "\e903";
}
.icomoon-sdb:before {
  content: "\e904";
}
.icomoon-phare5:before {
  content: "\e905";
}
.icomoon-picto-cabines:before {
  content: "\e906";
}
.icomoon-picto-cabine-01:before {
  content: "\e907";
}
.icomoon-personnes:before {
  content: "\e908";
}
.icomoon-non:before {
  content: "\e909";
}
.icomoon-map:before {
  content: "\e90a";
}
.icomoon-fleche:before {
  content: "\e90b";
}
.icomoon-famille:before {
  content: "\e90c";
}
.icomoon-encre:before {
  content: "\e914";
}
.icomoon-chapeau:before {
  content: "\e915";
}
.icomoon-drapeau:before {
  content: "\e916";
}
.icomoon-cuisine-02:before {
  content: "\e917";
}
.icomoon-fleche02:before {
  content: "\e918";
}
.icomoon-coche:before {
  content: "\e919";
}
.icomoon-card:before {
  content: "\e91a";
}
.icomoon-calendrier:before {
  content: "\e91b";
}
.icomoon-bulle:before {
  content: "\e91c";
}
.icomoon-boussole:before {
  content: "\e91d";
}
.icomoon-barre2:before {
  content: "\e91e";
}
.icomoon-etoile:before {
  content: "\e924";
}
.icomoon-v:before {
  content: "\e925";
}
.icomoon-bulle-heart:before {
  content: "\e927";
}
