.s-container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.form-container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  border: solid 1px $color-grey1;
  margin-bottom: 16px;
}

.main-page {
  margin-top: 20px;
}

main-page-double-nav {
  margin-top: 70px;
}

@media (max-width: $lg) {
  .s-container {
    width: 90%;
  }
}
@media (min-width: $lg){
  .s-container {
    width: 75%;
  }
}