h1 {
  margin-bottom: $p*2;
}
h2 {
  margin-bottom: $p;
}
h3 {
  margin-bottom: 8px;
}
.title-step {
  margin-bottom: 0px;
}
@media (min-width: $lg){
  .title-step {
    display: none;
  }
}
.img-in-text {
  margin-bottom: $p*2;
}

.s-margin-bottom {
    margin-bottom:$p;
}

