// font size variables
$h1: 24px;
$h2: 20px;
$h3: 18px;
$p: 16px;
$text-sm: 12px;

body {
  font-family: 'Source Sans Pro', sans-serif;
}

// FONTS
/*
Now embeded in html
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
*/

//TITLES
//  Typo for titles
h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

//  Font-size for titles
h1, .h1 {
  font-size: $h1;
  font-weight: bold;
  text-transform: uppercase;
}
.header-banner-title {
  h1 {
    font-size: 18px;
  }
}

h2, .h2 {
  font-weight: bold;
  font-size: $h2;
}

h3, .h3 {
  font-weight: bold;
  font-size: $h3;
}

//TEXT
//  Typo and font-size for texts
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $p;
}

ul.like-p {
  font-size: $p;
  color: $text
}

p.intro {
  color: $sub-title;
  margin-bottom: 45px;
  font-weight: bold;
}

a.text-link {
  text-decoration: underline;
}

a.corpo-bold {
  color: $corporate-primary;
  font-weight: bold;
}

.rounded-nb {
    width: 30px;
    height: 30px;
    color: $corporate-primary;
    border: 1px solid  $corporate-primary;
    border-radius: 50%;
    text-align: center;
}

.crossed {
    position: relative;
    &::after {
        content:"";
        position:absolute;
        top:50%; left:0; width:100%; height:1px; 
        background:$text;
        transform:rotate(-15deg);
    }
}