// font size variables
$h1: 26px;
$h2: 22px;
$h3: 18px;
$p: 16px;
$menu: 12px;


//TITLES
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
//  Typo for titles
h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
//  font-size for titles
h1 {
  font-size: $h1;
  text-transform: uppercase;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}
//TEXT
//  Typo and font-size for texts
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $p;
}